<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">
       <h2><span class="glyphicons glyphicons-scale-classic"></span>&emsp;Evaluations&emsp;
		<%= render 'layouts/buttons/course_select'%></h2>
  </div>
  <!-- Table -->

<table class="table table-condensed table-hover" >
	<!-- goes throguh all users courses, then for every course, pushes all projects to array @projs-->
	<tr class="active info">
		<th>Student</th>
		<th>Average</th>
		<th>Effort</th>
		<th>Quality</th>
		<th>Reliability</th>
		<th>Group</th>
	</tr>
	<% Project.find(current_user.current_project).evaluations.each do |evaluation| %>
	<% avg = ((evaluation.effort + evaluation.reliability + evaluation.quality)/3) if evaluation.effort && evaluation.reliability && evaluation.quality %>
	<tr>
		<td><%= evaluation.users.collect(&:first_name)[0] %> <%= evaluation.users.collect(&:last_name)[0] %></td>
		<td><center><%= avg %> %</td>
		<td><center><%= evaluation.effort %> %</td>
		<td><center><%= evaluation.quality %> %</td>
		<td><center><%= evaluation.reliability %> %</td>
		<td><center><%= evaluation.groups.collect(&:name)[0] %></td>
	</tr>
	<% end %>
</table>