<%= render 'users/tabnav/find_group'%>
	<div class="section-group">
		<div class="col span_2_of_3">
			<table class="table" style="width: 95%!important;">
		<span style="font-size:45px; font-weight:bold;">Find Members</span>
		    <!-- Start Table Header -->
	<%if !@mygroup.nil? %>
		<% mygroupsize = GroupRelation.where(project_id: @myproject.id, group_id: @mygroup.id).size%>
	<%else%>
		<% mygroupsize = 0%>
	<!-- Room in group-->
	<%end%>
		<% allowed_size = Project.find(current_user.current_project).group_size%>
		    <% if allowed_size < mygroupsize %>
		    <% msg ="#{@mygroup.name} is full.  <br>You are allowed <span style= 'font-size: 20px; font-weight:bold;'>#{allowed_size}</span> members. You have <span style= 'font-size: 20px; font-weight:bold;'>#{mygroupsize}.</span>"%>
	 <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg.html_safe, :id => "flash_success" %>
    	</div><%end%>
		      <td></td><td><b>Name</td>
		      <td class='collapsable'><b>Students</td>
		      <td colspan="2" style="max-width:100px;"><b>Request</td></b>
		   </tr>
		<!-- End Table Header -->
		  <%= render 'users/tableinfo/user_render'%></table>
		</div>
		<div class="col span_1_of_3">
			<% if my_partner_for(@myproject).nil? %>
				<span style="font-size:35px; font-weight:bold;">Sorry,</span><br><span style="font-size:25px; font-weight:normal;"> it looks like you don't have a partner yet for <span style="font-size:25px; font-weight:bold;"><%=@myproject.name%></font></span></center>

			<% else %>
				<% if @myproject.group_size == 2 %>
				<%= render 'groups/partner', project: @myproject  %>
				<% elsif @myproject.group_size > 2%>
				<%= render 'groups/profile', project: @myproject  %>
				<% else %>
				<% end %></table></div>
			<% end %>
		</div>