<div style="font-size:45px; font-weight:bold;">Create Group

    <!-- Start Table Header -->
   <tr>
      <%= render 'users/tableinfo/nameemail'%>
      <td colspan="2" style="max-width:100px;"><b>Request</td>
   </tr></b>
<!-- End Table Header -->

<% Groups.all.each do |group| %>
 <% @group = group %>
 <% if  %> 
    <tr>
      <%= render 'users/tableinfo/userinfo', user: @user %>
              <% if requested?(@user) == @user%>
                <%= render 'users/buttons/undo_button', user: @user %>
              <% elsif requester?(@user) == @user%>
                <%= render 'users/buttons/confirm_button', user: @user %>
              <% elsif teammates?(@user, current_user) %>
                  <%= render 'users/buttons/leavegroup_button', user: @user  %>
              <% elsif requester?(@user) == @user%>
              <% else %> 
                <%= render 'users/buttons/request_button', user: @user  %>
              <% end %>
    </tr>
<% end %>
<% end %>