<div class="section-group">
		<div class="col span_2_of_3">
			<table class="table" style="width: 95%!important;">
				<h1 style="font-size:45px; font-weight:bold;">Find 
				<% Project.find(current_user.current_project).group_size == 2 ? "Partner" : "Members" %></h1>
		    <!-- Start Table Header -->
	<% !@mygroup.nil? ? mygroupsize = @mygroup.group_relations.size : mygroupsize = 0 %>
	<!-- Room in group-->
		<% allowed_size = Project.find(current_user.current_project).group_size %>
		    <% if allowed_size <= mygroupsize %>
		    <% msg ="#{@mygroup.name} is full.  You are allowed <span style= 'font-size: 18px; font-weight:bold;'>#{allowed_size}</span> members. You have <span style= 'font-size: 18px; font-weight:bold;'>#{mygroupsize}.</span>"%>
	 <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg.html_safe, :id => "flash_success" %>
      	 <td></td><td><b>Name</td>
		      <td class='collapsable'><b>Students</td>
		      <td colspan="2" style="max-width:100px;"><b>Confirmed?</td></b>
		   </tr>
		<!-- End Table Header -->
		  <tr>
	<td class='collapsable'><%= link_to (image_tag @user.avatar.url, :style => 'max-width: 45px;'), @user %></td> 
	<td><%= link_to "#{@user.first_name} #{@user.last_name}", @user %> </td>
	<td class='collapsable'><%= @user.email %></td>
</tr></table>
		</div>
		<div class="col span_1_of_3">
			<% if my_partner_for(@myproject).nil? %>
				<span style="font-size:35px; font-weight:bold;">Sorry,</span><br><span style="font-size:25px; font-weight:normal;"> it looks like you don't have a partner yet for <span style="font-size:25px; font-weight:bold;"><%= @myproject.name %></font></span></center>
			<% else %><% group = @group %>
				<%= render 'groups/profile', group: group  %>
				</table></div>
			<% end %>



    	</div>


    	<%else%>




		      <td></td><td><b>Name</td>
		      <td class='collapsable'><b>Students</td>
		      <td colspan="2" style="max-width:100px;"><b>Request</td></b>
		   </tr>
		<!-- End Table Header -->
		  <%= render 'users/user_render'%></table>
		</div>
		<div class="col span_1_of_3">
			<% if my_partner_for(@myproject).nil? %>
				<span style="font-size:35px; font-weight:bold;">Sorry,</span><br><span style="font-size:25px; font-weight:normal;"> it looks like you don't have a partner yet for <span style="font-size:25px; font-weight:bold;"><%=@myproject.name%></font></span></center>
			<% else %><% group = @group %>
				<%= render 'groups/profile', group: group  %>
				</table></div>
			<% end %><% end %>
		</div>