

<ul class="nav nav-tabs" role="tablist">
   <li role="presentation" class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Find a Group', users_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'Create New Group', groups_path %></li>
  <%= render 'layouts/course_select' %>
</ul>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Add Group Members', users_path %></li>
    <li role="presentation" class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'View Group', groups_path %></li>
  <%= render 'layouts/course_select' %>
</ul>

<ul class="nav nav-tabs" role="tablist"> 
  <li role="presentation" class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'View Partnership', groups_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'Find Partner', users_path %></li>
  <%= render 'layouts/course_select' %>
</ul>