<%= render 'users/tabnav/find_group'%>
  <div class="section-group">
    <div class="col span_2_of_3">
      <table class="table" style="width: 95%!important;">
    <span style="font-size:45px; font-weight:bold;">Find Group</span>
        <!-- Start Table Header -->
      <!-- End Table Header -->
        <%= render 'users/tableinfo/group_render'%></table></div>
      <!-- start group sidebar -->
<div class="col span_1_of_3">
<% if my_partner_for(@myproject).nil? %>
        <table class="table" style="width: 95%!important;">
          <span style="font-size:35px; font-weight:bold;">Sorry,</span><br><span style="font-size:25px; font-weight:normal;"> it looks like you don't have a partner yet for <span style="font-size:25px; font-weight:bold;"><%=@myproject.name%></font></span></center>
      <% else %>
        <% if @myproject.group_size == 2 %>
        <%= render 'groups/partner', project: @myproject  %>
        <% elsif @myproject.group_size > 2%>
        <%= render 'groups/profile', project: @myproject  %>
        <% else %>
        <% end %>
      <% end %>
    </div>
</div>