<div class="authform">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %><font size="5" color="red">*</font>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><font size="5" color="red">*</font>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
         <fieldset style="margin:5px 0px 5px 0px; padding: 20px 50px 20px 50px; text-align:center;"><div class="form-group"><h4>Profile Picture</h4>
  <b>Image Upload</b><br>
<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
  <div>
    <span class="btn btn-file"><%= f.file_field :avatar %>
      <span class="fileupload-new">Select image</span>
      <span class="fileupload-exists">Change</span>
      <input type="file" />
    </span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
</div></fieldset>
        <fieldset style="padding: 20px 50px 20px 50px;">
      <h4>Change Password</h4>
      <p style="font-size:13px;">Leave blank if you don't want to change your password</p>
      <div class="form-group">
        <b>Choose a New</b> <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <b>New </b><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
          </fieldset>
          <h4>Verify Changes</h4>
      <p>Enter your current password to make changes</p>
      <div class="form-group">
        <%= f.label :current_password %><font size="5" color="red">*</font>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    <%= f.submit 'Update', :class => 'updatebutton', :style => 'width:53%; height:55px; float:center;' %>
  <% end %>
</div>
<div style= "text-align:right;"><br><br><hr>
<h3>Cancel Account</h3>
  <%if current_user.partner1 == ""%>
  <%= link_to "DELETE", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'deleteaccount' %>
  <%else%>
  <% User.all.each do |user| %>
  <% if current_user.partner1 == user.name %>
  
  <%=  link_to "DELETE", cancel_user_path(user), :data => { :confirm => "Are you sure?" }, :class=>'deleteaccount' %>
 <%end%><%end%><%end%>
</fieldset>

</div>
