<div class="authform", style="max-width: 500px;">
  <h3>Edit User</h3>
  <%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
<fieldset style=" text-align:center;"><div class="form-group"><h4>Profile Picture</h4>
<b>Image Upload</b><br>
<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-preview thumbnail" style="width: 75px; height:75px;"></div>
  <div>
    <span class="btn btn-info btn btn-file"><%= f.file_field :avatar %>
      <span class="fileupload-new", style="max-width: 200px;">Select image</span>
      <span class="fileupload-exists">Change</span>
      <input type="file" />
    </span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
</div></fieldset>
<div style=" text-align:center;">
    <%= f.submit 'Update', :class => 'btn btn-primary', :style => 'width:50%; max-width: 500px; height:55px; float:center;' %>
</div></div>
</fieldset>
 <%end%>
</div>
