
  <% is_current_user_requested = (group.group_relations.find_by(user_id: current_user.id, group_id: group.id).status == 1) %>
  <% is_current_user_confirmed = (group.group_relations.find_by(user_id: current_user.id, group_id: group.id).status == 2) %>
  <% are_there_any_users_sending_requests = (group.group_relations.find_by(status: 0) != nil) %>		

<% if (is_current_user_requested) || (is_current_user_confirmed && are_there_any_users_sending_requests) %>
			<!-- checking if group's name is nil, make one for them -->
    <% group.name != nil ? groupname = group.name : groupname = group.users.pluck(:first_name).to_sentence%>
    <div  class="content-box">
    <center><span style="font-size:20px; font-weight:bold;"><%= group.project.name %></span></center>
    <hr>
    	<% members = group.users.order(:last_name).uniq %>
      <span style="font-size:25px; font-weight:bold;"> <%= link_to groupname, group %></span>
      <div style='float:right;'> 
				<%=  link_to "<span class=\"glyphicons glyphicons-handshake\"></span>&nbsp;&nbsp;<b>Accept</b>".html_safe, confirm_group_path(group), class: "btn btn-primary btn-sm" %>
        <%= link_to "<span class=\"glyphicons glyphicons-remove\"></span>&nbsp;&nbsp;<b>Deny</b>".html_safe, leave_group_path(group), data: { confirm: "Are you sure you want to leave the group #{group.name}?"},  class: "btn btn-danger btn-sm" %>
			</div>

      <span style="font-size:15px; font-weight:bold;">  <br>Project:</span>
     	<span style="font-size:14px;"> <%= group.project.name %></span>
      <span style="font-size:15px; font-weight:bold;">  <br>Course:</span>
      <span style="font-size:14px;"> <%= Course.find(group.project.course_id).course_title %><br></span>
      <table class="table" style="width: 95%!important;">
        <td><strong>Name</strong></td>
				<td><strong>Status</strong></td>
        <% members.each do |user| %>
        	<% if GroupRelation.find_by(user_id: user.id, group_id: group.id).status == 2 %>
          	<tr>
	            <td><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
	            <td style="font-size:13px;">Confirmed</td>
            </tr>
          <% else %>
          	<tr style= "background-color:eee; opacity: 0.6;">
	            <td> <%= link_to "#{user.first_name} #{user.last_name}", user %></td>
	            <td style="font-size:13px;">Requested</td>
            </tr>
          <% end %> 
        <% end %>
      </table>
		<% end %> 
</div>	


