  <% if current_user.group_relations.where(project_id: project.id, status: 1) == nil %>
    <span style="font-size:25px; font-weight:normal;">You don't
    have any requests</span>
  <% else %>
<div style="padding: 10px  15px 10px 15px; background-color: #f9fbfb;
      border: 1px solid #d6d6d6; border-radius: 4px;-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);"><h3 style="font-size:20px; font-weight:bold;"><center><%= project.name %></center></h3>

      <% current_user.groups.order(:project_id).uniq.each do |group| %>
  <% if (group.group_relations.find_by(user_id: current_user.id, group_id: group.id).status == 1) && (group.project.group_relations.find_by(user_id: current_user.id, status: 2) == nil) %>
<!-- checking if group's name is nil, make one for them -->
    <% group.name != nil ? groupname = group.name : groupname = group.users.pluck(:first_name).to_sentence%>

    <% members = group.users.order(:last_name).uniq %>
        <span style="font-size:25px; font-weight:bold;"> <%= link_to groupname, group %></span>
        <div style='float:right;'> <%=  link_to "<span class=\"glyphicon glyphicon-user\"></span>&nbsp;&nbsp;<b>Join #{groupname}</b>".html_safe, confirm_group_path(group), class: "btn btn-primary btn-md" %></div>
        <span style="font-size:15px; font-weight:bold;">  <br>Project:</span>
        <span style="font-size:14px;"> <%= group.project.name %></span>
        <span style="font-size:15px; font-weight:bold;">  <br>Course:</span>
        <span style="font-size:14px;"> <%= Course.find(group.project.course_id).course_title %><br></span>
        <table class="table" style="width: 95%!important;">
          <td><strong>Name</td><td><strong>Status</td></strong>
              <% members.each do |user| %>
                <% if GroupRelation.find_by(user_id: user.id, group_id: group.id).status == 2 %>
                  <tr>
                    <td> <%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
                    <td>Confirmed</td>
                  </tr>
                 <% else %>
                  <tr style= "background-color:eee; opacity: 0.6;">
                    <td> <%= link_to "#{user.first_name} #{user.last_name}", user %></td>
                    <td>Request Pending</td>
                  </tr>
                <% end %> 
              <% end %>
        </table>
  <% end %>    <% end %>  
<% end %>
</div>