<%if !current_user.group_relations.where(project_id: project.id, status: 1).empty? %>
	<div  class="content-box">
		<h3 style="font-size:20px; font-weight:bold;"></h3>
		<center><%= project.name %></center>

	  <% current_user.groups.order(:project_id).uniq.each do |group| %>
	  	<% if (group.group_relations.find_by(user_id: current_user.id, group_id: group.id).status == 1) && 			(group.project.group_relations.find_by(user_id: current_user.id, status: 2) == nil) %>
				<!-- checking if group's name is nil, make one for them -->
		    <% group.name != nil ? groupname = group.name : groupname = 					group.users.pluck(:first_name).to_sentence%>

	    	<% members = group.users.order(:last_name).uniq %>
	      <span style="font-size:25px; font-weight:bold;"> <%= link_to groupname, group %></span>
	      <div style='float:right;'> 
					<%=  link_to "<span class=\"glyphicons 					glyphicons-handshake\"></span>&nbsp;&nbsp;<b>Accept</b>".html_safe, confirm_group_path(group), class: 					"btn btn-primary btn-md" %>
				</div>
	      <span style="font-size:15px; font-weight:bold;">  <br>Project:</span>
	     	<span style="font-size:14px;"> <%= group.project.name %></span>
	      <span style="font-size:15px; font-weight:bold;">  <br>Course:</span>
	      <span style="font-size:14px;"> <%= Course.find(group.project.course_id).course_title %><br></span>
	      <table class="table" style="width: 95%!important;">
	        <td><strong>Name</td>
					<td><strong>Status</strong></td>
	        <% members.each do |user| %>
	        	<% if GroupRelation.find_by(user_id: user.id, group_id: group.id).status == 2 %>
	          	<tr>
		            <td><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
		            <td style="font-size:13px;">Confirmed</td>
	            </tr>
	          <% else %>
	          	<tr style= "background-color:eee; opacity: 0.6;">
		            <td> <%= link_to "#{user.first_name} #{user.last_name}", user %></td>
		            <td style="font-size:13px;">Requested</td>
	            </tr>
	          <% end %> 
	        <% end %>
	      </table>
			<% end %>    
		<% end %>  
	
	</div>	
	
<% end %>
