<div class="jumbotron", style="max-width: 350px; padding:23px;">
  <%= form_for(resource, as: resource_name, url: user_session_path, html: { role: 'form'}) do |f| %>
    <h3>Sign in As...</h3>
    <%= devise_error_messages! %>
		<% if request.ip == "127.0.0.1" || true %>
		<%users = User.all%>
			<%= f.select :id, options_for_select(users.collect {|p| [ p.first_name + " " + p.last_name, p.id ]}), {}, 
				{class: 'form-control', style: 'width:70%; display:inline; height:29px;', onchange: 'this.form.submit();' } %>
	 	<% else %>
		  <%= f.hidden_field :id, value: @campus_id %> 
		  <%= f.hidden_field :ucinetid, value: @ucinetid %>
		<% end %>
		<%= f.submit 'Sign in', class: 'btn btn-primary' %>
		</div>
	<%end%>