<% current_user.courses.each do |course| %>
	<% course.projects.each do |project| %>
		<h4><%= project.name%></h4>
			<% if project.partnership_deadline > Date.today %>
				The partnership deadline for <%= project.name %> is coming on <%= project.partnership_deadline.strftime("%m/%d/%y") %>
				<hr style="margin:5px;">
			<% elsif project.evaluation_deadline > Date.today %>
				The evaluation deadline is coming on <%= project.evaluation_deadline.strftime("%m/%d/%y") %>, You have <%= (project.evaluation_deadline - Date.today).to_i %> days left
				<hr style="margin:5px;">
			<% else %>
			    Looks like you're all caught up!
			<% end %>
	<% end %>
<% end %>