<% if user_signed_in? %>
  <div class="col-sm-4">
    <!-- pending requests/notifications here-->
    <%= render "visitors/notifications"%>
  </div>
  <div class="col-sm-8">
    <% case current_user.role %>
    <% when 0 %>
    <%= render 'visitors/to_dos'%>
    <%= render 'visitors/mygroups'%>
    <!-- if the user is a Professor or a T/A -->
    <% when 1..2 %>
      <%= render 'visitors/to_dos'%>
      <!-- if the user is an admin -->
      <% when 3 %>
    <% end %>
  <% else %>
  <% if @ucinetid && !user_signed_in? && request.headers["HTTP_REFERER"].blank?%>
     <%= render 'visitors/signin_link'%>
     <script>document.getElementById('new_user').submit();</script>
  <% end %>
    <div class="col-sm-8" style="text-align:center;">
      <%= render "visitors/welcomemsg" %>
    </div>
   <div class="col-sm-4">
      <%= render 'visitors/signin_link'%>
  </div>
  
 
  <% end %>
