<% if user_signed_in? %>
  <div class="col-xs-4">
    <!-- pending requests/notifications here-->
    <%= render "visitors/notifications"%>
  </div>
  <div class="col-xs-8">
    <% case current_user.role %>
    <% when 0 %>
    <%= render 'visitors/to_dos'%>
    <%= render 'visitors/mygroups'%>
    <!-- if the user is a Professor or a T/A -->
    <% when 1..2 %>
      <%= render 'visitors/to_dos'%>
      <!-- if the user is an admin -->
      <% when 3 %>
    <% end %>
  <% else%>
    <div class="col-xs-8" style="text-align:center;">
      <%= render "visitors/welcomemsg" %>
      <h4>There are currently <strong><%= User.count %></strong> registered users</h4>
      <!-- pending requests/notifications here-->
    </div>
   <div class="col-xs-4">
      <%= render 'visitors/signin_select'%>
    <% end %>
  </div>
