<div class="section group">
  <div class="col span_2_of_3">
  	<h2>Welcome to <img width="75%" src="/assets/PartnerUpLogo.png" id="non-responsive"></h2>
  </div>
  	<% if user_signed_in? %>
		<div class="col span_1_of_3" style="text-align:center;">
      <%= image_tag current_user.avatar.url %>
    </div>

	<% if current_user.role==0 %>
	<div class="col span_2_of_3">
    <h2>Groups</h2>
      <table class = "table" style = "width:100%;">
	    <tr>
	      <td><b>Group ID</b></td>
	      <td><b>Group Name</b></td>
	      <td></td>
	    </tr>
		<%= render "visitors/list" %>
	  </table>
	</div>
	<div class="col span_1_of_3" style="text-align:center;">
    <h2>To Get Started</h2>
<h2>
 <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'btn btn-primary', :style => 'color: #fff; text-size:17px; width:75%;" margin-bottom="10px;' %>
</h2>
 <h2><button class="btn btn-primary" style="width:75%;"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<%=  link_to "Add Course", root_path, :style => 'color: #fff; text-size:17px;' %></button></h2>
      <br>
  </div>
	<% elsif current_user.role == 1||2 %><p>
		There are currently <%= User.count %> registered users</p>
	<% end %>
<% else%> 
	<%= render "visitors/welcomemsg" %>
<% end %>
	</div>
