<table class="table" style="width: 95%!important;">
<span style="font-size:45px; font-weight:bold;display:inline"><% if @myproject.group_size == 2 %>Partnerships <%else%>Groups<%end%><span style="font-size:30px; font-weight:bold;display:inline">for<br><%=@myproject.name%></span></span>
    <!-- Start Table Header --><br>
<span style="max-width:555px;float:right;;display:inline;padding:0px;margin:">
   <%= link_to "<span class=\"glyphicon glyphicon-random\"></span>&nbsp;&nbsp;Autogroup".html_safe, autogroup_project_path(@myproject.id), :class => 'btn btn-info btn-md'%>
  <%=  link_to "<span class=\"glyphicon glyphicon-warning-sign\"></span>&nbsp;&nbsp;Reset Groups".html_safe, clear_partnerships_project_path(@myproject.id), :class => 'btn btn-danger btn-md' %>
</span>

<!-- End Table Header -->
<table class="table" style="width: 95%!important;">
  <% ids = @myproject.groups.order(:name).uniq%>
  <% ids.each do |group| %>
	 <% @group = Group.find(group) %>
    <tr>
     <td colspan="9"> <span style="font-size:20px; font-weight:bold;"><%= link_to @group.name, @group %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  link_to "<u><span class=\"glyphicon glyphicon-arrow-left\"></span>&nbsp;&nbsp;Disband Grouping</u>".html_safe, disband_team_group_path(group), :class => 'btn btn-danger btn-xs' %></td>


    <% members = members_of(@group) %>
    <% members.each do |user| %>

    <%if GroupRelation.find_by(user_id: user.id, group_id: @group.id).status == 2%>
    <tr>
  	     <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
        <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
        <td class='collapsable'><%= user.email %></td>
      	<td>Confirmed</td>
    <%else%>
    <tr style= "background-color:eee; opacity: 0.6;">
	    <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
      <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
      <td class='collapsable'><%= user.email %></td>
        	<td>Request Pending</td>
    <%end%>	
<td class='collapsable'>
		<% if in_group_for?(user, @myproject)%>
		<% groups = GroupRelation.where(user_id: user.id, project_id:@myproject, status: 2).collect(&:group_id)%>
				<% groups.each do |group|%>
				<%= form_for(:group, :url => {:action => 'update_relation',:controller => 'groups', :id => group, user: user.id}, :html => { :style => 'display:inline;'}) do |f|%>	
				<%= f.select :name, options_from_collection_for_select(@myproject.groups.uniq, 'id', 'name', group), {}, 
				{class: 'form-control', style: 'width:70%; display:inline; height:25px;', onchange: 'this.form.submit();'} %>
				<% end %></td>
				<% end %><% end %>
	</tr>
    	<% end %>





      <% end %>
    </table>