<table class="table" style="width: 95%!important;">
<div style="font-size:45px; font-weight:bold;"><% if @myproject.group_size == 2 %>Partnerships <%else%>Groups<%end%>
    <!-- Start Table Header --><br>
<div style="max-width:550px;float:right;padding-right:7%;">
  
  <%= link_to("Autogroup", autogroup_project_path(@myproject.id), :class => 'btn btn-info')%><%=  link_to "Reset Partnerships", clear_partnerships_project_path(@myproject.id), :style => 'color: #fff;', :class => 'btn btn-danger' %></div>

<div style="max-width:550px;float:right;padding-right:7%;">
<%=link_to 'Export Table', export_csv_users_path(current_user), :class=>"btn btn-warning" %>
</div>

<!-- End Table Header -->
<table class="table" style="width: 95%!important;">
  <% ids = GroupRelation.where(project_id:@myproject.id).collect(&:group_id).uniq%>
  <% ids.each do |group| %>
	 <% @group = Group.find(group) %>
    <tr>
     <td colspan="9"> <span style="font-size:20px; font-weight:bold;"><%= link_to @group.name, @group %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  link_to "<<< Reset Group", disband_team_group_path(group), :style => 'color: #fff;', :class => 'btn btn-danger' %></td>


    <% members = members_of(@group) %>
    <% members.each do |user| %>

    <%if GroupRelation.find_by(user_id: user.id, group_id: @group.id).status == 2%>
    <tr>
  	     <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
        <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
        <td class='collapsable'><%= user.email %></td>
      	<td>Confirmed</td>
    <%else%>
    <tr style= "background-color:eee; opacity: 0.6;">
	    <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
      <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
      <td class='collapsable'><%= user.email %></td>
        	<td>Request Pending</td>
    <%end%>	
<td class='collapsable'>
		<% if in_group_for?(user, @myproject)%>
		<% groups = GroupRelation.where(user_id: user.id, project_id:@myproject, status: 2).collect(&:group_id)%>
				<% groups.each do |group|%>
				<%= form_for(:group, :url => {:action => 'update_relation',:controller => 'groups', :id => group, user: user.id}, :html => { :style => 'display:inline;'}) do |f|%>	
				<%= f.select :name, options_from_collection_for_select(Group.where(project_id: @myproject), 'id', 'name', Group.find(group).id), {}, 
				{class: 'form-control', style: 'width:70%; display:inline; height:25px;', onchange: 'this.form.submit();'} %>
				<% end %></td>
				<% end %><% end %>
	</tr>
    	<% end %>





      <% end %>
    </table>