<% @myproject.groups.collect(&:name).include?('Team 10')||@myproject.groups.collect(&:name).include?('Team 11') ? groups = @myproject.groups.uniq : groups = @myproject.groups.order(:name).uniq %>
<% if @group.nil?%>
	<% groups.each do |group| %>
		<% if @group!= group %>
		<table class="table table-condensed">
		<% @group = Group.find(group) %>
		<tr class="info active">
			<th colspan="4"><h3><%= link_to @group.name, @group %></h3></th>
			<td><%= link_to("<span class=\"glyphicons glyphicons-send\"></span>&nbsp;&nbsp;Request to join".html_safe, request_join_group_path(@group.id), class: 'btn btn-success')%></td>
		</tr>
		<% members = group.users.order(:last_name).uniq %>
		<% members.each do |user| %>
			<% if GroupRelation.find_by(user_id: user.id, group_id: @group.id).status == 2 %>
				<tr>
					<td></td>
					<td class='collapsable'><%= link_to (image_tag (user.avatar.url), class:"img-rounded"), user %></td>
					<td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
					<td class='collapsable'><%= user.email %></td>
					<td>Confirmed&nbsp;&nbsp;<span class="glyphicons glyphicons-ok" style="color:green; font-size:20px;"></span></td>
				<% else %>
					<tr class = "active" style= "opacity: 0.6;"><td></td>
					<td class='collapsable'><%= link_to (image_tag (user.avatar.url), class:"img-rounded"), user %></td>
					<td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
					<td class='collapsable'><%= user.email %></td>
					<td>Pending </td></tr>
				<% end %>
			<% end %>
			<tr> &nbsp;</tr>
		</table>
		<% end %>
	<% end %>
<% end %>