<span style="font-size:30px; font-weight:bold;display:inline">&nbsp;for<br>
      <%=@myproject.name%><br>
        <div style="float:left;width:75%">
          <%= link_to "<span class=\"glyphicons glyphicons-pencil\"></span>&nbsp;&nbsp;Edit Project".html_safe, edit_project_path(@myproject.id), class: 'btn btn-success'%>
          <%=  link_to "<span class=\"glyphicons glyphicons-plus\"></span>&nbsp;&nbsp;Add New Group</span>".html_safe, new_group_path, class: 'btn btn-primary' %>
        </div>
        <div style="float:left;width:25%">
          <%=  link_to "<span class=\"glyphicons glyphicons-warning-sign\"></span>&nbsp;&nbsp;Reset Groups".html_safe, clear_partnerships_project_path(@myproject.id), data: { confirm: "Are you sure? This will reset groups and you will lose this information."}, class: 'btn btn-danger btn-sm', id: 'disband-all-btn'%>
        </div>
      </span>
    </div>
  <div style="float:left;width:30%">
    <!-- Start Table Header --><br>
    <%= render 'layouts/buttons/course_select'%> 
    <%= render 'layouts/buttons/autogroup'%> 
  </div> 
</div> 
   
<%if @myproject.groups.collect(&:name).include?("Team 10") || @myproject.groups.include?("Team 11")%>
  <% ids = Group.where(project_id: @myproject)%>
<% else %>
  <% ids = Group.where(project_id: @myproject).order(:name).uniq%>
<% end %>

  <table class="table" style="width: 95%!important; max-width:1200px;" align="center"> 
 
<% ids.each do |group| %>
  
   <% @group = Group.find(group) %>
   <tr>
    <th colspan='9' style='background-color:#eee;' colspan='9' id="group<%= group.id %>">
      <span style="font-size:20px; font-weight:bold;">
        <%= link_to @group.name, @group %>&nbsp;
        <%=  link_to "<span class=\"glyphicons glyphicons-remove-2\"></span>".html_safe, disband_group_path(group), data: { confirm: "Are you sure? This will permanently delete this group and you will lose all evaluation information."},  id: "disband-group-btn", style:"color:red;font-size:10px;"%>
      </span>
    </th>
    
    <% @group.users.each do |user| %>
      <tr>
        <% @user = user %>
        <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td>
        <td id='name'><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
        <td class='collapsable'><%= user.email %></td>
        <td>
          <% if GroupRelation.find_by(user_id: user.id, group_id: @group.id).status != 2 %>
            Request Pending
          <% else %>
            Confirmed <span class="glyphicons glyphicons-ok-2" style="color:green; font-size:20px;"></span>
          <% end %>
        </td>
        <td class='collapsable'><%= render 'layouts/buttons/team_select', user: @user%></td>
      </tr>  
    <% end %>
      
 
<% end %>
 </table>