<div style='float:left;'>
<%@group = @mygroup%>
  <% if @group.nil?%>
  <span style="font-size:35px; font-weight:bold;">Sorry,</span><br><span style="font-size:25px; font-weight:normal;"> it looks like you don't have a partner yet for  </span><span style="font-size:25px; font-weight:bold;"><%=@myproject.name%></span></center>

<%else%>
    <% if !@group.name.nil? %>
        <%groupname = @group.name%>
    <% else %>
        <%groupname= @group.users.pluck(:first_name).to_sentence%>
    <%end%>

 <span style="font-size:25px; font-weight:bold;"><%= link_to groupname, @group%></span>
 </span>
 <span style="font-size:20px; font-weight:bold;">  <br>Project:</span>
 <span style="font-size:18px;"><%=@myproject.name%></span>
 <span style="font-size:20px; font-weight:bold;">  <br>Course:</span>
 <span style="font-size:18px;"><%=Course.find(@myproject.course_id).course_title%><br></span></div>
<div style='float:right;'><%=  link_to "<span class=\"glyphicon glyphicon-calendar\"></span>&nbsp;&nbsp;<b>Start a Doodle for #{groupname}</b>".html_safe, "http://doodle.com/create?type=date&locale=en&title=#{@group.name}%20Group%20Meeting&name=#{current_user.first_name}%20#{current_user.last_name}&eMailAddress=#{current_user.email}&description=Our%20first%20group%20meeting...", class: "btn btn-info btn-md" %></div>

  <table class="table" style="width: 95%!important;">
    <td class='collapsable'></td><td><strong>Name</td><td class='collapsable'><strong>Email</td><td><strong>Status</td></strong>
  <% ids = @group.users.order(:last_name).uniq%>
    <% ids.each do |user| %>

       <%if GroupRelation.find_by(user_id: user.id, group_id: @group.id).status == 2%>
    <tr>
         <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
        <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
        <td class='collapsable'><%= user.email %></td>
        <td>Confirmed</td>
    <%else%>
    <tr style= "background-color:eee; opacity: 0.6;">
      <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
      <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
      <td class='collapsable'><%= user.email %></td>
          <td>Request Pending</td>
    <%end%> 

  </tr>
      <% end %>
    </table>


<%end%>