<% if @mygroup.nil? || @group.nil? %>

    <span style="font-size:35px; font-weight:bold;">Sorry,</span><br>
    <span style="font-size:25px; font-weight:normal;">it looks like you don't
    have a partner yet for</span> <span style=
    "font-size:25px; font-weight:bold;"><%= Project.find(current_user.current_project).name %></span>
    <% else %>
    <% if !@group.name.nil? %><% groupname = @group.name %><% else %><% groupname = @group.users.pluck(:first_name).to_sentence %><% end %>
    <table class="table" style="width: 100%!important;padding:5px;">
        <tr>
            <td><span style="font-size:25px; font-weight:bold;"><%= link_to groupname, @group%></span></td>
            <td width="20%">
            <%= link_to "<span class=\"glyphicon glyphicon-calendar\"></span>&nbsp;&nbsp;<b>Start a Doodle</b>".html_safe, "http://doodle.com/create?type=date&locale=en&title=#{@group.name}%20Group%20Meeting&name=#{current_user.first_name}%20#{current_user.last_name}&eMailAddress=#{current_user.email}&description=Our%20first%20group%20meeting...", class: "btn btn-info btn-sm" %>
            <% if current_page?(root_path)%>
            <%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>&nbsp;&nbsp;<b>Leave Group</b>".html_safe, leave_group_path(@group), class: "btn btn-danger btn-xs" %>
            <% end %></td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="float:left;">
                    <span style="font-size:20px; font-weight:bold;">Project:</span>
                    <span style="font-size:18px;"><%= @group.project.name%></span>
                    <span style="font-size:20px; font-weight:bold;"><br>
                    Course:</span> <span style="font-size:18px;"><%= Course.find(@group.project.course_id).course_title%><br>
                    </span>
                </div>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="table" style="width: 100%!important;padding:5px;">
        <tr>
            <td class='collapsable'></td>
            <td><strong>Name</strong></td>
            <td class='collapsable'><strong>Email</strong></td>
            <td >
            <strong>Status</strong></td><% members = @group.users.order(:last_name).uniq %><% members.each do |user| %>
            <% if user.group_relations.find_by(group_id: @group.id).status == 2 %>
        </tr>
        <tr>
            <td class='collapsable'>
            <%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td>
            <td>
            <%= link_to "#{user.first_name} #{user.last_name}", user %></td>
            <td class='collapsable'><%= user.email %></td>
            <td>Confirmed</td>
            <% else %>
        </tr>
        <tr style="background-color:eee; opacity: 0.6;">
            <td class='collapsable'>
            <%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td>
            <td>
            <%= link_to "#{user.first_name} #{user.last_name}", user %></td>
            <td class='collapsable'><%= user.email %></td>
            <td>Request Pending</td><% end %>
        </tr><% end %>
    </table><% end %>