<% if @group.nil? %>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span style="font-size:20px; font-weight:bold;">Sorry,</span> it looks like you don't
        have a partner yet for <%= Project.find(current_user.current_project).name %>
    </div>
</div>
<% else %>
<% !@group.name.nil? ? groupname = @group.name : groupname = @group.users.pluck(:first_name).to_sentence %>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span style="font-size:18px; font-weight:bold;"><%= link_to groupname, @group%></span>
    <% if current_page?(root_path)%><%= link_to "<span class=\"glyphicons glyphicons-remove\"></span>&nbsp;&nbsp;<b>Leave Group</b>".html_safe, leave_group_path(@group), data: { confirm: "Are you sure you want to leave the group #{@group.name}?"},  class: "btn btn-danger btn-xs", style: "float:right" %></div>
    <div class="panel-body">
        <span style="float:left;text-align:left">
        <span style="font-weight:bold;"> Project: </span><%= @group.project.name%><br>
        <span style="font-weight:bold;">Course: </span><%= ((@group.project.courses)&(current_user.courses))[0].course_title%></span>
        <div style="float:right;">
            <span style="font-weight:bold;">Partnership Deadline:</span>
            <%= (@group.project.partnership_deadline.nil? || @group.project.partnership_deadline == "") ? "Not Specified" : @group.project.partnership_deadline.strftime("%m/%d/%y") %>
            <br>
            <span style="font-weight:bold;">Evaluation Deadline:</span>
            <%= (@group.project.evaluation_deadline.nil? || @group.project.evaluation_deadline == "") ? "Not Specified" : @group.project.evaluation_deadline.strftime("%m/%d/%y") %>
        </div>
    </div>
    <% end %>
    <table class="table">
        <tr>
            <td style="font-weight:bold;">Name</td>
            <% if current_page?(root_path)%>
            <td class='collapsable' style="font-weight:bold;">Email</td>
            <td style="font-weight:bold;">Phone</td>
            <% end %>
            <td style="font-weight:bold;">Status</td>
            <td style="font-weight:bold;">Evaluated?</td></tr>
            <% members = @group.users.order(:last_name).uniq %>
            <% members.each do |user| %>
            <tr style="<%= (user.group_relations.find_by(group_id: @group.id).status != 2) ? 'background-color:eee; opacity: 0.6;' : '' %>">
                <td style="font-size:12px;">
                <%= link_to "#{user.first_name} #{user.last_name}", user %></td>
                <% if current_page?(root_path)%>
                <td style="font-size:12px;" class='collapsable'><%= user.email %></td>
                <td style="font-size:12px;" class='collapsable'><%= number_to_phone(user.phone, area_code: true) if current_user.phone %></td>
                <% end %>
                <td style="font-size:12px;" ><%= (user.group_relations.find_by(group_id: @group.id).status == 2) ? 'Confirmed' : 'Requested'%></td>
                <!-- if group member is yourself -->
                <% if user == current_user %>
                <td style="font-size:12px;" >You can't evaluate yourself</td>
                <!-- If you sent request or are requested a member -->
                <% elsif (user.group_relations.find_by(group_id: @group.id).status == 1 || current_user.group_relations.find_by(group_id: @group.id).status == 1) %>
                <td style="font-size:12px;" >Request Still Pending</td>
                <!-- If you sent a request to join this group -->
                <% elsif (user.group_relations.find_by(group_id: @group.id).status == 0 &&
                current_user.group_relations.find_by(group_id: @group.id).status == 2) %>
                <td style="font-size:12px;" >Sent <%=@group.name%> a request</td>
                <!-- if they're confirmd member of group -->
                <% else %>
                <!-- show either eval form or "evaluation completed" depending if it's complete -->
                <% evaluated_left = User.find(@group.users.collect(&:id) - @group.eval_relations.where(reviewer_id:current_user.id).collect(&:user_id)) %>
                <td style="font-size:12px;" ><%= evaluated_left.include?(user) ? '<a href="/evaluations" class="btn btn-primary btn-xs">Evaluate this Partner<span class=\"glyphicons glyphicons-remove\"></span></a>'.html_safe : 'Evaluation Completed' %></td>
                <% end %>
            </tr>
            <% end %>
        </table>
    </div>
    <% end %>