<% @myproject = Project.find(current_user.current_project) %>
    <div class="panel panel-default">
        <!-- Default panel contents -->
   
  <table class="table table-condensed table-hover">
    <tr class="active">
    <th>Name</th>
    <th class='collapsable'>Email</th>
    <th>Phone</th>
    <th>Status</th>
  </tr>
    <% @group.users.each do |user| %>
    <% confirmed = GroupRelation.find_by(user_id: user.id, group_id: @group.id).status == 2 %>
      <% if confirmed %>
      <tr style= "<%= 'background-color:eee; opacity: 0.6;' if GroupRelation.find_by(user_id: user.id, group_id: @group.id).status != 2 %>">
        <% else %>
        <tr>
          <% end %>
          <td><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
          <td style="font-size:12px;" class='collapsable'><%= user.email %></td>
          <% if current_page?(root_path)%>
          <td style="font-size:12px;" class='collapsable'><%= number_to_phone(user.phone, area_code: true) if current_user.phone %></td>
          <% end %>
          <td><%= confirmed ? 'Confirmed' : 'Request Pending' %></td>
        </tr>
        <% end %>
      </table>