<div class="panel panel-primary">
	<div class="panel-heading"><h2><span class="glyphicons glyphicons-group"></span>&emsp;Find a Group for 
		<span class="col-sm-3" style="float:none"><%= render "layouts/buttons/course_select" %> </span>
		<span class="col-sm-3" style="float:none"><%= render "layouts/buttons/project_select" %></span></h2>
	</div>
	<div class="panel-body">
		<div class="col-sm-8">
			<p>This is a list of all the available groups for <%= @mycourse.course_title %>.<br>
			If you would like to change your course you can do so in the "Change Course and Project" on the top right. </p>
			<b><div class='well well-sm'><% @myproject.group_size.times do %>
				<span class="glyphicons glyphicons-user"></span>
			<% end %>
			&emsp;Your group size should be <%= @myproject.group_size %>.</div>
			<div class='well well-sm'><%= @myproject.allow_repeat ? '<span class="glyphicons glyphicons-ok-2" style="color:green;"></span>&emsp; You ARE '.html_safe : '<span class="glyphicons glyphicons-ban" style="color:red;"></span>&emsp; You ARE NOT '.html_safe %> allowed to repeat partners from your previous assignments.</div>
		</div></b>
		<div class="col-sm-4">
			<% @group = current_user.groups.find_by(project_id: current_user.current_project)%>
			<%= render 'groups/profile', group: @group %>
		</div>
		<% if @is_current_user_grouped %>
			<% msg ="You already have a group, or have pending requests. To leave your group, <a href=\"/groups/#{@group.id}/leave\">click here</a>" %>
			<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= content_tag :div, msg.html_safe, id: "flash_success" %></div>
		<% else %>
			<%= render 'groups/group_render', group: @group%>
		<% end %>
	</div><!-- start group sidebar -->
</div>