<h3>Let's Partner Up!</h3><br />

<strong>1. Please select the course that you want to get a partner in?</strong>

<!-- selecting course that users will add groups to -->
<!-- if the user is signed in and their enrolled in at least one course on roster -->
<% if user_signed_in? && !current_user.courses.first.blank? %>
  
	<%= form_for :user, :url => set_current_course_user_path(current_user.id) do |f| %>	
	  <div style="max-width: 450px">
		<%= f.select :current_course, options_from_collection_for_select(current_user.courses, 'id', 'course_title', current_user.current_course), {}, {class: "form-control"} %><br />
		</div>	
	  <%= f.submit 'Select Course', :class => 'btn btn-primary' %>
  <% end %>

<%end%><%aldkjfa%>


<% @course_projects.each do |project| %>
		
	<li><strong>Your assigned project, <%= project.name %>, involves </strong>
		
		<!-- depending on the group size of the project, choose whether the group is a partnership (2 people) or group (3 or more) -->
		<% case project.group_size %>
			<% when 2 %>
				<%= '2 people (partnership)' %> </li>
			<% when 2..(1.0/0.0) %>
				<%= '3 or more (group)' %> </li>
		<% end %>
		
	
	
<% end %>




