<%= render 'users/tabnav/find_group'%>
<% if @myproject.nil? || @mygroup.nil?%>
	<span style="font-size:35px; font-weight:bold;">Sorry,</span><br><span style="font-size:25px; font-weight:normal;"> it looks like you don't have a partner yet for <span style="font-size:25px; font-weight:bold;"><%=@myproject.name%></font></span></center>

<%else%>

<div class="section-group">
<div class="col span_1_of_3">
  <span style="font-size:50px; font-weight:bold;">
<% if @myproject.group_size ==2%>
My Partner 
<% else %>
My Group 
<%end%>
 </span><br><span style="font-size:25px; font-weight:bold;"><%=@mygroup.name%></font><br></span>
  <span style="font-size:20px; font-weight:bold;">  <br>Project:</span>
 <span style="font-size:18px;"><%=@myproject.name%></span>
   <span style="font-size:20px; font-weight:bold;">  <br>Course:</span>
 <span style="font-size:18px;"><%=@myproject.course_id%><br></span>



</div>
<div class="col span_2_of_3">
  <table class="table" style="width: 95%!important;"><div style="float:right;"><%=  link_to "Start a Doodle", "http://doodle.com/create?type=date&locale=en&title=#{@mygroup.name}%20Group%20Meeting&name=#{current_user.first_name}%20#{current_user.last_name}&eMailAddress=#{current_user.email}&description=Our%20first%20group%20meeting...", :style => 'color: #fff;width:100%;', class: "btn btn-info" %>
  	<td class='collapsable'></td><td><strong>Name</td><td class='collapsable'><strong>Email</td><td><strong>Status</td></strong>
    <% members = members_of(@mygroup) %>
    <% members.each do |user| %>

    <%if teammates?(user, current_user)%>
    <tr>
	<td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
      <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
      <td class='collapsable'><%= user.email %></td>

    	<td>Confirmed</td>
    <%else%>
        <tr style= "background-color:eee; opacity: 0.6;">
	<td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
      <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
      <td class='collapsable'><%= user.email %></td>

        	<td>Request Pending</td>
    <%end%>	

	</tr>
    	<% end %>
    </table>

</div></div><%end%>