<% @myproject = Project.find(current_user.current_project) %>
    <div class="panel panel-default">
        <!-- Default panel contents -->
      <div class="col-xs-4">
    <h2><% (@myproject.group_size == 2) ? 'Partnership' : 'Group' %></h2>
    <h3><%=@group.name%></h3>


    <h4>Project: <%=@myproject.name%></h4>
    <h4>Course: <%= @myproject.courses.collect(&:course_title).uniq.to_sentence%></h4>
    <%= link_to "<span class=\"glyphicons glyphicons-pencil\"></span>&nbsp;&nbsp;Edit Group Name".html_safe,  {action: 'edit'}, class: "btn btn-success btn-xs" if (current_user.groups.include? @group) || (current_user.role != 0) %>
    <%= link_to "<span class=\"glyphicons glyphicons-remove\"></span>&nbsp;&nbsp;<b>Leave Group</b>".html_safe, leave_group_path(@group), data: { confirm: "Are you sure you want to leave the group #{@group.name}?"},  class: "btn btn-danger btn-xs" %>
    </div>
    <div class="col-xs-8">
  <h2><% @myproject.group_size != 2 ? 'Group Members' : '' %></h2>
  <table class="table table-condensed table-hover">
    <tr class="active">
    <th>Name</th>
    <th class='collapsable'>Email</th>
    <th>Status</th>
    <th>Phone</th>
  </tr>
    <% @group.users.each do |user| %>
    <% confirmed = GroupRelation.find_by(user_id: user.id, group_id: @group.id).status == 2 %>
      <% if confirmed %>
      <tr style= "<%= 'background-color:eee; opacity: 0.6;' if GroupRelation.find_by(user_id: user.id, group_id: @group.id).status != 2 %>">
        <% else %>
        <tr>
          <% end %>
          <td><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
          <td style="font-size:12px;" class='collapsable'><%= user.email %></td>
          <% if current_page?(root_path)%>
          <td style="font-size:12px;" class='collapsable'><%= number_to_phone(user.phone, area_code: true) if current_user.phone %></td>
          <% end %>
          <td><%= confirmed ? 'Confirmed' : 'Request Pending' %></td>
          <td><%= number_to_phone(user.phone, area_code: true) %></td>
        </tr>
        <% end %>
      </table>
    </div>