<% @myproject = Project.find(current_user.current_project) %>
<div class="section-group">
  <div class="col span_1_of_3">
    <span style="font-size:50px; font-weight:bold;"><% (@myproject.group_size == 2) ? 'Partnership' : 'Group' %>
    </span><br><span style="font-size:25px; font-weight:bold;"><%=@group.name%></font><br></span>
    <span style="font-size:20px; font-weight:bold;">  <br>Project:</span>
    <span style="font-size:18px;"><%=@myproject.name%></span>
    <span style="font-size:20px; font-weight:bold;">  <br>Course:</span>
    <span style="font-size:18px;"><%=@myproject.course_id%><br></span>
    <% if (current_user.groups.include? @group) || (current_user.role != 0) %>
    <%= link_to "<span class=\"glyphicons glyphicons-pencil\"></span>&nbsp;&nbsp;Edit Group Name".html_safe,  {action: 'edit'}, class: "btn btn-success btn-md", style: "float:right;margin-bottom:10px;" %>
  <% end %></div>
</div>
<div class="col span_2_of_3">
  <span style="font-size:50px; font-weight:bold;">
  <% @myproject.group_size != 2 ? 'Group Members' : '' %>
  <table class="table" style="width: 95%!important;">
    <td><strong>Name</td>
    <td class='collapsable'><strong>Email</td>
    <td><strong>Status</td></strong>
    <td><strong>Phone</td></strong>
    <% @group.users.each do |user| %>
    <% confirmed = GroupRelation.find_by(user_id: user.id, group_id: @group.id).status == 2 %>
      <% if confirmed %>
      <tr style= "<%= 'background-color:eee; opacity: 0.6;' if GroupRelation.find_by(user_id: user.id, group_id: @group.id).status != 2 %>">
        <% else %>
        <tr>
          <% end %>
          <td><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
          <td style="font-size:12px;" class='collapsable'><%= user.email %></td>
          <% if current_page?(root_path)%>
          <td style="font-size:12px;" class='collapsable'><%= number_to_phone(user.phone, area_code: true) if current_user.phone %></td>
          <% end %>
          <td><%= confirmed ? 'Confirmed' : 'Request Pending' %></td>
          <td><%= number_to_phone(user.phone, area_code: true) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>