<div class="section-group">
	<div class="col span_2_of_3">
	<span style="font-size:50px; font-weight:bold;"><span class="glyphicons glyphicons-user" style="font-size:60px"></span>&emsp;Enrolled Students</span><span style="font-size:30px; font-weight:bold;display:inline">&emsp;for</span>
	</div>
	<div class="col span_1_of_3">
		<%= render 'layouts/buttons/course_select'%>
	</div>
</div>
<table class="table" style="width: 95%!important; max-width:1200px;" align="center">
	
	<th class='collapsable'></th>
  <th style="text-align: left;"><strong><span class="glyphicons glyphicons-family"></span>&emsp;Students</strong></th>
  <th style="max-width:100px; text-align: left;"><strong><span class="glyphicons glyphicons-envelope"></span>&emsp;Email</strong></th>
  <% if Project.find(current_user.current_project).group_size > 2 %>
		<th style="text-align: left;" class='collapsable'><strong><span class="glyphicons glyphicons-group"></span>&emsp;Group</strong></th>
    <% else %>
 		<th style="text-align: left;" class='collapsable'><strong><span class="glyphicons glyphicons-parents"></span>&emsp;Partner</strong></th>
    <% end %>
	
  <%@users = Course.find(current_user.current_course).users.order(:last_name)%>
	<% @users.each do |user| %>
		<% @user = User.find(user) %>
		<% if @user.role == 0 %>
			<tr>
				<td class='collapsable' style='text-align:right;'><%= link_to (image_tag @user.avatar.url, :style => 'max-width: 45px;'), @user %></td> 
				<td><%= link_to "#{@user.first_name} #{@user.last_name}", @user %> </td>
				<td><%= @user.email %></td>
				<td class='collapsable'>
        <%= render 'layouts/buttons/team_select', user: @user%>
    	</tr>
		<% end %>
	<% end %>
</table>