<span style="font-size:40px; font-weight:bold;"><span class="glyphicons glyphicons-address-book" style="font-size:50px"></span>&ensp;Find <%= @myproject.group_size == 2 ? "a Partner" : "Members"%> </span><br><br>
<!-- if student in group -->
	<% if !@myproject.group_relations.find_by(user_id: current_user.id).nil? %>
		<% project_status = current_user.group_relations.find_by(project_id: @myproject.id)%>
		<!-- student requested -->
		<% if project_status == 1 %>
			<% msg ="You have pending requests, please respond to these before requesting more people."%>
			<div class="alert alert-info">
		<% else %>
			<% msg ="You are already in a group :)"%>
			<div class="alert alert-success">
		<% end %>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= content_tag :div, msg.html_safe, id: "flash_success" %>
		</div>
			<%= render 'visitors/notification_student'%>
		<!-- if student not in group -->
	<% else %>
		<% !@mygroup.nil? ? @mygroupsize = @mygroup.group_relations.size : @mygroupsize = 0 %>
		<!-- Room in group?-->
		<% @allowed_size = @myproject.group_size %>
		<!-- if group is full -->
		<% if (@allowed_size <= @mygroupsize) %>
			<% msg ="#{@mygroup.name} is full.  <br>You have <span style= 'font-size: 18px; font-weight:bold;'>#{@mygroupsize}</span> members out of the <span style= 'font-size: 18px; font-weight:bold;'>#{@allowed_size}</span> members allowed in your group."%>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= content_tag :div, msg.html_safe, id: "flash_success" %></div>
		<!-- if partnership deadline passed -->
		<% elsif ((@myproject.partnership_deadline) && (@myproject.partnership_deadline < Date.today)) %>
			<% msg ="Partnership Deadline has passed. Contact your Professor."%>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= content_tag :div, msg.html_safe, id: "error" %></div>
		<!-- good to go -->
		<% else %>
					<!-- Render every user -->
					<%= render 'users/user_render', locals: {allowed: @allowed_size, mygroup: @mygroupsize}%>
		<% end %>
	<% end %>
	</div>
		</table>
		</div>