<h3>Find a Partner</h3>
    <!-- Start Table Header -->
   <tr>
      <td class='collapsable'></td>
      <td><b>Student Name</td>
      <td class='collapsable'><b>Email</td></td> <td><b>Request</td>
   </tr></b>
<!-- End Table Header -->

<% @users.each do |user| %>
<!-- users_courses is an array of that users enrolled courseids from roster table -->
 <!-- mycourse is signed in users course -->
 <% mycourse = current_user.current_course%>
 <% mygroup = GroupRelation.where(:course_id => mycourse, :user_id => current_user.id).limit(1).collect(&:group_id)%>
 <% users_courses = user.courses.collect(&:id)%>
 <% users_groups = GroupRelation.where(:course_id => mycourse, :user_id => user.id).limit(10).collect(&:group_id)%>
 <!-- if array of this users's elrolled course ids includes the signed in user's selected course -->
  <% if users_courses.include?(mycourse) && current_user.id != user.id && user.role ==0 %> 
   <tr>
    <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
    <td><%= link_to user.first_name, user %> <%= link_to user.last_name, user %></td>
    <td class='collapsable'><%= user.email %></td>
    <!-- if the current user and this user is in the same group -->
        <% if !users_groups.include?(mygroup[0]) %>
        <!-- send request BUTTON -->
          <td><button class="btn btn-primary", style="max-width:150px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<%=  link_to "Send Request", add_to_group_user_path(user), :style => 'color: #fff; text-size:17px;' %></button></td>
          <!-- else -->
        <%else %>
        <!-- already requested BUTTON -->
            <td><button class="btn btn-primary"  disabled="disabled" style="max-width:150px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;<%=  link_to "Requested", add_to_group_user_path(user), :style => 'color: #fff; text-size:17px;' %>&nbsp;&nbsp;&nbsp;</button></td>
        <%end%>
   </tr>
  <% end %>
<% end %>

