<script text/javascript>

function showLoading() {
    // other code can be placed here 
    $("#loading").show();
    // other code can be placed here
}
function hideLoading() {
    // other code can be placed here 
    $("#loading").hide();
    // other code can be placed here
}

function dosomething() {
    showLoading();
    // simulate a task that can take 3 seconds
    // afterwards show hide the loading GIF
    setTimeout("hideLoading()", 3000);
    return false;
}
</script>

<div id="pop1" class="popbox">
    <h2>Success!</h2>
    <p>This is an example popbox.</p>
</div>
<%case current_user.role %>
<%when "user"%>
  	<% if current_user.id != user.id%> 
		<% if user.role == "user" && current_user.status == false%>
				<td><%= link_to (image_tag (user.avatar.url), :style => 'max-height: 25xpx; max-width: 25px;'), user %></td> <td><%= link_to user.name, user %></td>     <td><%= user.email %></td>	
				<% if user.status == false%>
						<td>Available</td>
						<td><%=  link_to "Partner", flop_user_path(user), :class=>"requestbutton", :onclick=>"dosomething();" %><div id="loading">
    <img src="http://www.webdesign.org/img_articles/13053/loading-gif-animation.gif" alt="loading" />
</div></td><td>
</td>
				<%else%><td>Partnered</td><td></td>
				<% end %>
		<%elsif current_user.partner1 == user.name %>
					<td><%= link_to user.name, user %></td>
					<td><%= user.email %></td>	
					<td>You are already partnered with <%= current_user.partner1 %> </td>

<td><%=  link_to "UNDO", flop_user_path(user), :class=>"button", :onclick => "dosomething();" %><div id="loading">
    <img src="http://www.webdesign.org/img_articles/13053/loading-gif-animation.gif" alt="loading" />
</div></td>
		<% end %>
	<%end%>
<%when "vip"%>
  <% if user.role=="user"%>
         <tr> <td><%= user.name %></td><td><%= user.partner1 %></td></tr>
	<%end%>
<%when "admin"%>
  <% if user.role=="user" && user.confirmed_at==nil%> 
         <tr> <td><a href="" class="popper" data-popbox="pop1"><%= user.name %></a></td><td><%=  link_to "Confirm", confirm_user_path(user), :class=>"button" %></td><td></td>
	<%end%>
<%end%>


 
