	<table class="table table-condensed">
		<tr class="active">
			<td></td>
			<th>Name</th>
			<th class='collapsable'>Email</th>
			<th class='collapsable'>Availability</th>
			<th colspan="2" style="max-width:100px;">
			<% @allowed_size <= @mygroupsize ? "Confirmed?" :  "Request"%></th>
		</tr>
		<% @users = User.all.order(:last_name) %>
		<% @users.each do |user| %>
		<% @user = User.find(user) %>
		<% if (classmates?(@user, @mycourse) && (current_user.id != @user.id) && (@user.role == 0) && !in_group_for?(@user, @myproject)) && !(previously_partnered?(@user, current_user)) %>
		<tr>
			<td class='collapsable'><%= link_to (image_tag @user.avatar.url, :style => 'max-width: 45px;'), @user %></td>
			<td><%= link_to "#{@user.first_name} #{@user.last_name}", @user %> </td>
			<td class='collapsable'><%= @user.email %></td>
			<td class='collapsable'><%= user.availability %></td>
			<% if current_user.role == 0 %><%= render 'layouts/buttons/button_render', user: @user %><% end %>
		</tr>
		<% end %>
	<% end %>
	</table>
</div>