<% if !@mygroup.nil? %><% mygroupsize = @myproject.groups.size %><% else %><% mygroupsize = 0 %><% end %>
	<% allowed_size = Project.find(current_user.current_project).group_size %>

<% if allowed_size > mygroupsize %>
		<% @users = Course.find(current_user.current_course).users.order(:last_name) %>
		<% @users.each do |user| %>
			<% @user = User.find(user) %>
			<% if (classmates?(@user, @mycourse) && !same?(current_user.id, @user.id) && is_student?(@user) && !in_group_for?(@user, @myproject)) && !(previously_partnered?(@user, current_user)) %>
				<tr>
				<td class='collapsable'><%= link_to (image_tag @user.avatar.url, :style => 'max-width: 45px;'), @user %></td> 
				<td><%= link_to "#{@user.first_name} #{@user.last_name}", @user %> </td>
				<td class='collapsable'><%= @user.email %></td>
					<% if current_user.role == 0 %><%= render 'layouts/buttons/button_render', user: @user %><% end %>
				</tr>
			<% end %>
		<% end %>
		
<!-- No room in group-->
<% else %>
	<% @mygroup.users.each do |user| %>
		<% @user = User.find(user) %>
	<% if user != current_user %>
	<td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
	<td><%= link_to "#{user.first_name} #{user.last_name}", user: @user %> </td>
	<td class='collapsable'><%= user.email %></td>
		<% if current_user.role == 0 %>
				<%= render 'layouts/buttons/button_render', user: @user %>
		<% end %>
	</tr>
	<% end %>
<% end %>
<% end %>