<% if current_user.id != user.id%>
<% if current_user.status == false%>
	<td><%= user.name %></td>
	<td><%= link_to user.email, user %></td>
	<% if user.status == false%>
		<td>Available</td>
		<td><%=  link_to "Request", flop_user_path(user), :class=>"requestbutton" %></td>
		<td></td><%else%><td>Partnered</td>
	<% end %><%else%>
<% if current_user.partner1 == user.name %>
	<td><%= current_user.partner1 %></td>
	<td><%= link_to user.email, user %></td>
		<td>You are already partnered with <%= current_user.partner1 %> </td>
		<td><%=  link_to "UNDO", flop_user_path(user), :class=>"button" %></td>
<% end %>
<% end %>
<% end %>
