<table class="table" style="width: 95%!important;">
<% case current_user.role %>
  <% when 0 %>
		<% if @myproject.group_size > 2 %>
    <%= render 'users/student/tabnav'%>
		<%= render 'users/student/find_group' %>


		<%else%>
      <%= render 'users/student/tabnav'%>
    	<%= render 'users/student/find_partner' %>


		<% end %>
  <% when 1 .. 2 %>
    <%= render'users/professor' %>
    <%= render 'users/buttons/vip_button' %>
  <% when 3 %>
  <%= render'users/admin/admin' %>
<% end %>
</table>