<table class="table" style="width: 95%!important;">
<% case current_user.role %>
  <% when 0 %>
	   <% if @myproject.group_size > 2 %>
        <%= render 'users/student/find_members' %>
    <%else%>
        <%= render 'users/student/find_partner' %>
    <% end %>
  <% when 1 .. 2 %>
    <%= render'users/professor/find_members' %>

    <%= render 'users/buttons/vip_button' %>
  <% when 3 %>
  <%= render'users/admin/admin' %>
<% end %>
</table>