<% case current_user.role %>
  <% when 0 %>
	  <% if Project.find(current_user.current_project).group_size == 2 %>
        <%= render 'users/student/find_partner' %>
    <%else%>
        <%= render 'users/student/find_members' %>
    <% end %>
  <% when 1 .. 2 %>
    <%= render'users/professor/find_members' %>

    <%= render 'layouts/buttons/vip_button' %>
  <% when 3 %>
     <%= render'users/admin/find_members' %>

    <%= render 'layouts/buttons/vip_button' %>
<% end %>
</table>