<table class="table" style="width: 95%!important;">
<% case current_user.role %>
  <% when 0 %>
		<% if @allowed_project_size > 2 %>
			<%= render 'users/group' %>
		<%else%>
    	<%= render 'users/student' %>
		<% end %>
  <% when 1 .. 2 %>
    <%= render'users/professor' %>
    <%= render 'users/buttons/vip_button' %>
  <% when 3 %>
  <%= render'users/admin' %>
<% end %>
</table>
