<% case current_user.role %>
<% when 0 %>
<div class="section-group">
	<div class="col span_2_of_3">
		<%= render 'users/student_find_members' %>
	</div>
	<div class="col span_1_of_3">
		<%= render 'layouts/buttons/course_select'%>
		<% @group = current_user.groups.find_by(project_id: current_user.current_project) %>
		<%= render 'groups/profile', group: @group %>
	</div>
</div>
<% when 1 .. 3 %>
<div class="section-group">
	<div class="col span_2_of_3">
		<span style="font-size:40px; font-weight:bold;"><span class="glyphicons glyphicons-user" style="font-size:40px"></span>&emsp;Enrolled Students</span><span style="font-size:30px; font-weight:bold;display:inline">&emsp;for</span>
	</div>
	<div class="col span_1_of_3">
		<%= render 'layouts/buttons/course_select'%>
	</div>
	
<%= render'users/professor_enrolled_students' %>
</div>
<% end %>
</table>