<span style="font-size:45px; font-weight:bold;">My Profile</span><br>

<div class="section group">
  <div class="col span_1_of_3">
  	<%= image_tag current_user.avatar.url, :style => "width:100%;"%><br><br><center>
  	<%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>&nbsp;&nbsp;Edit Profile".html_safe, edit_user_registration_path, :style => 'max-width:200px; padding:10px;', class: "btn btn-success"  %></center>
  </div>
  <div class="col span_2_of_3">
		<h2>Profile Page of <strong><%= current_user.first_name%> <%=current_user.last_name %></h2></strong>
		<table>
		<tr><td style = "text-align:right;padding:10px;"><span style="font-weight:bold;">Name:</span> </td>
		<td> <%= current_user.first_name%> <%=current_user.last_name %></td></tr>
		<tr><td style = "text-align:right;padding:10px;"><span style="font-weight:bold;">Email:</span> </td>
		<td> <%= current_user.email if current_user.email %></td></tr>
		<tr><td style = "text-align:right;padding:10px;"><span style="font-weight:bold;">Description:</span> </td>
		<td> <%= current_user.description if current_user.description %></td></tr>
		<tr><td style = "text-align:right;padding:10px;"><span style="font-weight:bold;">Availability:</span> </td>
		 <td><%= current_user.availability if current_user.availability%></td></tr>
		<tr><td style = "text-align:right;padding:10px;"><span style="font-weight:bold;">Last Sign In:</span> </td>
			<td><%= current_user.last_sign_in_at if current_user.last_sign_in_at %></td></tr>
	</table>
  </div>
</div>