<div class="section group">
  <div class="col span_1_of_3">
  		<%= image_tag current_user.avatar.url %><br><br>
  </div>
  <div class="col span_2_of_3">
<h3>Profile Page of <b><%= current_user.first_name%></h3></b>
<p>Name: <%= current_user.first_name%> <%=current_user.last_name %></p>
<p>Email: <%= current_user.email if current_user.email %></p>
<p>Last Sign In: <%= current_user.last_sign_in_at if current_user.last_sign_in_at %></p>
<button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
 <%= link_to 'Edit account', edit_user_registration_path, :style => 'color: #fff; text-size:17px;' %></button>

<br>
	</div></div>