<span style="font-weight:bold;font-size:25px;"><%= link_to "<span class=\"glyphicon glyphicon-chevron-left\"></span>&nbsp;&nbsp;<b>Back</b>".html_safe, :back, class: "btn btn-default btn-md" %></span>

<div class="section group">
  <div class="col span_1_of_3"><%= image_tag (@user.avatar.url), :style => "width:100%;"%></div>
  <div class="col span_2_of_3">
		
<span style="font-weight:bold;font-size:45px;"><%= @user.first_name%> <%= @user.last_name%></b></span>
		<p><b>Name:</b> <%= @user.first_name%> <%=@user.last_name %></p>
		<p><b>Email:</b> <%= @user.email if @user.email %></p>
	
		<p><b>Description:</b> <%= @user.description if @user.description %></p>
		<p><b>Availability:</b> <%= @user.availability if @user.availability%></p>
		<p><b>Last Sign In:</b> <%= @user.last_sign_in_at if @user.last_sign_in_at %></p>
		<br>
		
		  	<%= link_to "<span class=\"glyphicon glyphicon-send\"></span>&nbsp;&nbsp;&nbsp;&nbsp;Send Request".html_safe, send_request_user_path(@user), :style => 'max-width:200px; padding:10px;', class: "btn btn-primary"  %>
		
		<br>
		
	</div>
</div>