<div class="section group">
  <div class="col span_1_of_3">
  		<%= image_tag @user.avatar.url %><br><button class="btn btn-primary"  style="width:95%;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;<%=  link_to "Send Request", root_path, :style => 'color: #fff; text-size:17px;' %></button><br>
  </div>
  <div class="col span_2_of_3">
<h3>Profile Page of <b><%= @user.name%></h3></b>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Last Sign In: <%= @user.last_sign_in_at if @user.last_sign_in_at %></p>

	</div></div>