<!-- Modal -->
<div class="modal fade" id="evaluate-<%= group.id%>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Evaluate <%= group.name %></h4>
      </div>
      <div class="modal-body">
				<%= form_for :evaluation, url: {action: 'create', controller: 'evaluations'}, html: { multipart: true } do |f| %>
					<%= render partial: 'evaluations/form', locals: {f: f} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       	<%= f.submit("Save Evaluation", id: 'save-evaluation', class: 'btn btn-primary') %>
				<% end %>
      </div>
    </div>
  </div>
</div>


