<div>
	<% project = Project.find_by_id(@project.id) if !@project.nil?%>
	<% repeat = project.allow_repeat if !@project.nil? %>

	<table style="width:100%">
		<tr>
			<td><span class="glyphicons glyphicons-pushpin"></span></td>
			<td><%= f.label 'Project Name: ' %></td>
			<td colspan='2'><%= f.text_field(:name, class: "form-control") %></td>
		</tr>
	</table>
	
	<table style="width:100%">
		<% oneweeklater = Time.now + (7*24*60*60) %>
		<tr>
			<td><span class="glyphicons glyphicons-calendar"></span></td>
			<td><%= f.label 'Partnership Deadline:'%></td>
			<td><input type="text" name="partnership_deadline" value="<%= oneweeklater.strftime("%m/%d/%Y")%>"></td>
		</tr>
			<% twoweekslater = oneweeklater + (7*24*60*60) %>
		<tr>
			<td><span class="glyphicons glyphicons-calendar"></span></td>
			<td><%= f.label 'Evaluation Date:'%></td>
			<td><input type="text" name="evaluation_deadline" value="<%= twoweekslater.strftime("%m/%d/%Y")%>"></p></td>
		</tr>
	</table>
	<table style="width:100%">
		<tr>
			<td><span class="glyphicons glyphicons-group"></span></td>
			<td><%= f.label 'Group Size of Project: ' %></td>
			<td><%= f.select :group_size, [['2 people','2'], ['3 people','3'], ['4 people','4'], ['5 people','5'], ['6 people','6']], {}, {class: "form-control"} %></td>
		</tr>
	</table>

<input type="checkbox" name="courses[]" checked='true' value="<%= @course.id %>" hidden='true'>

	<table style="width:100%;padding:1px;margin-top:15px">
		<tr>
			<td><span class="glyphicons glyphicons-retweet-2"></span></td>
			<td colspan='2'> <b>Allow students to have repeats for this project?</b></td>
		</tr>
	</table>
	<table style="width:100%">
		<tr>
			<td style="padding:5px 10px 5px 10px;text-align:right; <%= 'background:#ddd' if repeat == true %>"><%= f.radio_button :allow_repeat, true, checked:((repeat == true) || (repeat==nil)) %> </td>
			<td style="padding:5px 10px 5px 10px;<%= 'background:#ddd' if repeat == true %>"><span class="glyphicons glyphicons-ok-2" style="color:green;"></span>&ensp;Allow Repeats</td>
		</tr>
		<tr>
			<td style="padding:5px 10px 5px 10px;text-align:right; <%= 'background:#ddd' if repeat == false %>"><%= f.radio_button :allow_repeat, false, checked: (repeat == false) %> </td>
			<td style="padding:5px 10px 5px 10px;<%= 'background:#ddd' if repeat == false %>"><span class="glyphicons glyphicons-ban" style="color:red;"></span>&ensp;Restrict Repeats</td>
		</tr>
	</table>
		
		
		
	</div>