<div>
	<% repeat = Project.find_by_id(@project.id).allow_repeat if !@project.nil? %>

	<table style="width:100%">
		<tr>
			<td><span class="glyphicons glyphicons-pushpin"></span></td>
			<td><%= f.label 'Project Name: ' %></td>
			<td colspan='2'><%= f.text_field(:name, class: "form-control") %></td>
		</tr>
	</table>
	
	<table style="width:100%">
		<% oneweeklater = Time.now + (7*24*60*60) %>
		<tr>
			<td><span class="glyphicons glyphicons-calendar"></span></td>
			<td><%= f.label 'Evaluation Date:'%></td>
			<td><input type="text" name="evaluation_deadline" value="<%= oneweeklater.strftime("%m/%d/%Y")%>"></p></td>
		</tr>
			<% twoweekslater = oneweeklater + (7*24*60*60) %>
		<tr>
			<td><span class="glyphicons glyphicons-calendar"></span></td>
			<td><%= f.label 'Partnership Deadline:'%></td>
			<td><input type="text" name="partnership_deadline" value="<%= twoweekslater.strftime("%m/%d/%Y")%>"></td>
		</tr>
	</table>
	<table style="width:100%">
		<tr>
			<td><span class="glyphicons glyphicons-group"></span></td>
			<td><%= f.label 'Group Size of Project: ' %></td>
			<td><%= f.select :group_size, [['2 people','2'], ['3 people','3'], ['4 people','4'], ['5 people','5'], ['6 people','6']], {}, {class: "form-control"} %></td>
		</tr>
	</table>

<% if current_page?(root_path)%>

	<table style="width:100%;padding:1px;margin-top:15px">
		<tr>
			<td style="padding:1px 1px 0px 1px"><span class="glyphicons glyphicons-education"></span>&nbsp;<%= f.label 'Course(s):', {style:"margin:0px;padding:0px"}  %></td>
			<% current_user.courses.each do |course|%>
			<td style="padding:1px"><input type="checkbox" name="courses[]" checked="true" value="<%= course.id %>"></td>
			<td style="padding:1px"><%= course.course_title %></td>
		</tr>
		<tr><td></td>
		<% end %>
	</table>


	<table style="width:100%;padding:1px;margin-top:15px">
		<td><span class="glyphicons glyphicons-random"></span></td>
		<td colspan='2'><b>What is the scope of groups?</b></td>
		<tr>
			<td></td><td style="padding:5px 10px 5px 10px;"><input type="radio" name="limit_scope" checked="false" value="true"></td>
			<td style="padding:5px 10px 5px 10px;"><span class="glyphicons glyphicons-handshake"></span>&emsp;Joint Course Project: </td>
		</tr>
		<tr>
			<td></td><td style="padding:5px 10px 5px 10px;"><input type="radio" name="limit_scope" checked="true" value="false"></td>
			<td style="padding:5px 10px 5px 10px;"><span class="glyphicons glyphicons-transfer"></span>&emsp;Keep Groups Separate by Course: </td>
	</table>

<% end %>

	<table style="width:100%;padding:1px;margin-top:15px">
		<tr>
			<td><span class="glyphicons glyphicons-retweet-2"></span></td>
			<td colspan='2'> <b>Allow students to have repeats for this project?</b></td>
		</tr>
	</table>
	<table style="width:100%">
		<tr>
			<td style="padding:5px 10px 5px 10px;text-align:right; <%= 'background:#ddd' if repeat == true %>"><%= f.radio_button :allow_repeat, true, checked:((repeat == true) || (repeat==nil)) %> </td>
			<td style="padding:5px 10px 5px 10px;<%= 'background:#ddd' if repeat == true %>"><span class="glyphicons glyphicons-ok-2" style="color:green;"></span>&ensp;Allow Repeats</td>
		</tr>
		<tr>
			<td style="padding:5px 10px 5px 10px;text-align:right; <%= 'background:#ddd' if repeat == false %>"><%= f.radio_button :allow_repeat, false, checked: (repeat == false) %> </td>
			<td style="padding:5px 10px 5px 10px;<%= 'background:#ddd' if repeat == false %>"><span class="glyphicons glyphicons-ban" style="color:red;"></span>&ensp;Restrict Repeats</td>
		</tr>
	</table>
		
		
		
	</div>