<div style="font-size:45px; font-weight:bold;">
	<span>Projects</span>
	<%=  link_to "<span class=\"glyphicon glyphicon-plus\"></span>&nbsp;&nbsp;Add New Project".html_safe,  {:action => 'new'}, class: "btn btn-primary btn-md", :style=>"float:right;margin-bottom:10px;" %>
</div>
  
<table class="table" style= "border:1px grey!important;">
  <!-- goes throguh all users courses, then for every course, pushes all projects to array @projs-->

	<% @projs=[] %>

	<% current_user.courses.each do |course| %>
		<tr>
	    <th><%= course.course_title%></th>
			<td class='collapsable'><strong>Group Size</strong></td>
			<td class='collapsable'><strong>Allow Repeat Partners?</strong></td>
			<td class='collapsable'><strong>Naming</strong></td>
			<td></td>
			<td colspan="5"></td>
		</tr>
		<% course.projects.each do |project| %>
			<tr> 
				<% if project.id !=0 %>
				  <td><%= project.name %></td>
					<td class='collapsable'><% project.group_size.times do |o|%>
						<span class="glyphicon glyphicon-user"></span>
					<% end %>
					</td>
					<td class='collapsable'>
						<center><%= project.allow_repeat ? "<span class=\"glyphicon glyphicon-ok\" style=\"color:green; font-size:20px;\"></span>".html_safe : "<span class=\"glyphicon glyphicon-ban-circle\" style=\"color:red; font-size:20px;\"></span>".html_safe%></center>
					</td>
					<td class='collapsable'>
						<%= 'Team 1, Team 2, Team 3...' if project.name_gen == 'numbered'%>
						<%= image_tag("/system/colors.png", :alt => "Colors") if project.name_gen == 'colors'%>
						<%= image_tag("/system/paw.png", :style => "max-width:25px") if project.name_gen == 'creatures'%>
						<%= image_tag("/system/code.png", :style => "max-width:25px") if project.name_gen == 'hackers'%>
					</td>
					<td style="text-align:right">
				    <%=  link_to "<span class=\"glyphicon glyphicon-pencil\"></span>&nbsp;&nbsp;Edit".html_safe, edit_project_path(project.id), class: "btn btn-success btn-md" %></td><td>
			    	<%=  link_to "<span class=\"glyphicon glyphicon-remove\"></span>&nbsp;&nbsp;Delete".html_safe, remove_project_path(project.id), :data => { :confirm =>"Are you sure you want to delete this project?"}, class: "btn btn-danger btn-md" %>
					</td>
			</tr>
			<% end %>
		<% end %>
		<tr>
			<td colspan="9" style="height:50px;"></td>
		</tr>
	<% end %>
</table>