<span style="font-size:40px; font-weight:bold;"><span class="glyphicons glyphicons-pushpin"></span>&emsp;Projects</span><br>

<table class="table" style="max-width:1200px;" align="center">
<% @empty_courses = current_user.courses%>
<% @empty_courses.each {|course| @empty_courses = @empty_courses.unshift(course) if course.projects.empty?} %>
<% @empty_courses.uniq.each do |course| %>
<tr style='background-color:#eee;'>
    <th colspan="7" style="height:20px; padding:7px 10px 3px 10px;"><span style="font-size:17px; font-weight:bold;"><%= course.course_title%></span></th>
    <th style="height:20px; padding:7px 10px 3px 10px;"><%=  link_to "<span class=\"glyphicons glyphicons-plus\"></span>&nbsp;&nbsp;Add New Project".html_safe,  {action: 'new', controller: 'projects', id: course}, class: "btn btn-primary btn-xs", id: "add-new-project", style: "float:right;margin-bottom:10px;" %></th>
</tr>
<tr>
	<th></th>
	<th colspan="2" style="padding:7px 10px 3px 10px; font-size:12px;"><span class="glyphicons glyphicons-pushpin"></span>&emsp;Project Title</th>
	<th class='collapsable' style="padding:7px 10px 3px 10px; font-size:12px;"><span class="glyphicons glyphicons-group"></span>&emsp;Group Size</th>
	<th class='collapsable' style="padding:7px 10px 3px 10px; font-size:12px;"><span class="glyphicons glyphicons-retweet-2"></span>&emsp;Repeats?</th>
	<th class='collapsable' style="padding:7px 10px 3px 10px; font-size:12px;"><span class="glyphicons glyphicons-calendar"></span>&emsp;Partnership Deadline</th>
	<th class='collapsable' style="padding:7px 10px 3px 10px; font-size:12px;"><span class="glyphicons glyphicons-calendar"></span>&emsp;Evaluation Deadline</th>
  </tr></b>
  <% if course.projects.empty? %>
  <tr style= "background-color:#ED8080; "><td colspan="6" style= "padding:0px;"><%=  link_to (new_project_path(id: course)), style: "color:#fff; text-align:left; width:100%; padding:11px;", class: "btn btn-danger" do %><b>Alert:</b> There is no active project for this course. Students are not able to partner up. <% end %> </tr></td>
  <% end %>
	<% course.projects.each do |project| %>
		<tr><% if project.id != 0 %>
			<td></td>
	  	<th colspan='2' style="padding:10px 10px 0px 10px;">
	  	<%= form_for(:project, url: {action: 'update', id: project.id}, html: {style: "margin-bottom:0em;"}) do |f| %>
			<%= f.text_field :name, {onchange: 'this.form.submit();', value: project.name, style: "font-size: 14px; width:100%;"} %>
			<% end %>
		</th>
		<th class='collapsable' style="padding:10px 10px 0px 10px;">
		<% project.group_size.times do |o|%>
	    	<%=  link_to "<span class=\"glyphicons glyphicons-user\"></span>".html_safe, reduce_groupsize_project_path(project.id), class: "groupsize_changes"%>
	    <% end %>
	    <% if project.group_size < 7 %>
	    	<%=  link_to "<span class=\"glyphicons glyphicons-plus\"></span>".html_safe, increase_groupsize_project_path(project.id), style: "color:green"%>
	    	<% end %>
		</th>
			
		<td class='collapsable' style="padding:10px 10px 0px 10px;">
			<%= form_for(:project, url: {action: 'update', id: project.id}, html: {style: "margin-bottom:0em;"})  do |f| %>
			<center><%= project.allow_repeat ? "<span class=\"glyphicons glyphicons-ok-2\" style=\"color:green; font-size:17px;\"></span>".html_safe : "<span class=\"glyphicons glyphicons-ban\" style=\"color:red; font-size:17px;\"></span>".html_safe%>
			<%= f.check_box :allow_repeat, {onclick: 'this.form.submit();', checked: project.allow_repeat} %>
			<% end %></center>
			</td>
		<td class='collapsable' style="padding:7px 10px 3px 10px; font-size:12px;"><center>
			<%= form_for(:project, url: {action: 'update', id: project.id}, html: {style: "margin-bottom:0em;"}) do |f| %>
			<%= f.date_field :partnership_deadline, {onchange: 'this.form.submit();', value: project.partnership_deadline, style: "line-height: 10px;"} %>
			<% end %>
		</center></td>
		<td class='collapsable' style="padding:7px 10px 3px 10px; font-size:12px;"><center>
			<%= form_for(:project, url: {action: 'update', id: project.id}, html: {style: "margin-bottom:0em;"}) do |f| %>
			<%= f.date_field :evaluation_deadline, {onchange: 'this.form.submit();', value: project.evaluation_deadline, style: "line-height: 10px;"} %>
			<% end %>
		</center></td>
		<td style="padding:8px 0px 8px 0px;">
    	 <%=  link_to "<span class=\"glyphicons glyphicons-remove-2\"></span>&nbsp;&nbsp;Delete".html_safe, remove_project_path(project.id), id: "delete-#{project.id}", data: { confirm: "Are you sure you want to delete this project?"}, class: "btn btn-danger btn-sm"%></td>
		</tr>
	<% end %>
<% end %><tr><td colspan="9" style="height:30px; padding:10px 10px 0px 10px;"></td></tr>
<% end %></table>