<span style="font-size:50px; font-weight:bold;"><span class="glyphicons glyphicons-pushpin" style="font-size:60px"></span>&emsp;Projects</span><br><br>

<table class="table" style="max-width:1200px;" align="center">
<% @empty_courses = current_user.courses%>
<% @empty_courses.each {|course| @empty_courses = @empty_courses.unshift(course) if course.projects.empty?} %>
<% @empty_courses.uniq.each do |course| %>
<tr>
    <th colspan='9' style='background-color:#eee;'><span style="font-size:20px; font-weight:bold;"><%= course.course_title%></span></th>
</tr>
<tr>
	<th><span class="glyphicons glyphicons-pushpin"></span>&emsp;Project</th><th class='collapsable'><span class="glyphicons glyphicons-group"></span>&emsp;Group Size</th><th class='collapsable'><span class="glyphicons glyphicons-retweet-2"></span>&emsp;Allow Repeat Partners?</th><th class='collapsable'><span class="glyphicons glyphicons-calendar"></span>&emsp;End Date</th><th colspan="5"><%=  link_to "<span class=\"glyphicons glyphicons-plus\"></span>&nbsp;&nbsp;Add New Project".html_safe,  {action: 'new', controller: 'projects', id: course}, class: "btn btn-primary btn-xs", id: "add-new-project", style: "float:right;margin-bottom:10px;" %></th>
  </tr></b>
  <% if course.projects.empty? %>
  <tr style= "background-color:#ED8080;"><td colspan="6" style= "padding:0px;"><%=  link_to (new_project_path(id: course)), style: "color:#fff; text-align:left; width:100%; padding:11px;", class: "btn btn-danger" do %><b>Alert:</b> There is no active project for this course. Students are not able to partner up. <% end %> </tr></td>
  <% end %>
	<% course.projects.each do |project| %>
		<tr><% if project.id != 0 %>
	  	<td><%= project.name %></td>
		<td class='collapsable'><% project.group_size.times do |o|%>
			<span class="glyphicons glyphicons-user"></span>
			<% end %></td>
		<td class='collapsable'><center><%= project.allow_repeat ? "<span class=\"glyphicons glyphicons-ok-2\" style=\"color:green; font-size:20px;\"></span>".html_safe : "<span class=\"glyphicons glyphicons-ban\" style=\"color:red; font-size:20px;\"></span>".html_safe%></center></td>
		<td class='collapsable'><center>
			<%= form_for(:project, url: {action: 'update', id: project.id}) do |f| %>
			<%= f.date_field :end_date, {onchange: 'this.form.submit();', value: project.end_date} %>
			<% end %>
		</center></td>
		<td class='collapsable'>
		</td>
		<td style="text-align:right">
	    <%=  link_to "<span class=\"glyphicons glyphicons-edit\"></span>&nbsp;&nbsp;Edit".html_safe, edit_project_path(project.id), class: "btn btn-success btn-md", id: "edit-#{project.id}" %></td><td>
    	 <%=  link_to "<span class=\"glyphicons glyphicons-remove-2\"></span>&nbsp;&nbsp;Delete".html_safe, remove_project_path(project.id), id: "delete-#{project.id}", data: { confirm: "Are you sure you want to delete this project?"}, class: "btn btn-danger btn-md" %></td>
		</tr>
	<% end %>
<% end %><tr><td colspan="9" style="height:50px;"></td></tr>
<% end %></table>