<%if !@mygroup.nil? %>
	<% mygroupsize = GroupRelation.where(project_id: @myproject.id, group_id: @mygroup.id).size%>
	<%else%>
	<% mygroupsize = 0%>
	<!-- Room in group-->
	<%end%>
		<% allowed_size = Project.find(current_user.current_project).group_size%>
<% if allowed_size > mygroupsize%>
<% @users.each do |user| %>
	<% @user = user %>
	<% if (classmates?(@user, @mycourse)|| teammates?(@user, current_user)) && (!same?(current_user.id, @user.id) && is_student?(user)) && !confirmed?(@user)  %>
	<tr>
	<td class='collapsable'><%= link_to (image_tag @user.avatar.url, :style => 'max-width: 45px;'), @user %></td> 
	<td><%= link_to "#{@user.first_name} #{@user.last_name}", @user %> </td>
	<td class='collapsable'><%= @user.email %></td>
							<% if current_user.role == 0 %>
								<%=render 'layouts/tableinfo/button_render', user: @user%>
							<% end %>
	</tr>
	<% end %>
	<% end %>

<!-- No room in group-->
	<% else  %>
	<% GroupRelation.where(group_id: @mygroup).collect(&:user_id).each do |user| %>
	<% @user = User.find(user)%>
	<%if @user != current_user && !teammates?(@user, current_user)%>
	<td class='collapsable'><%= link_to (image_tag (@user.avatar.url), :style => 'max-width: 45px;'), @user %></td> 
	<td><%= link_to "#{@user.first_name} #{@user.last_name}", @user %> </td>
	<td class='collapsable'><%= @user.email %></td>
	<%if current_user.role == 0%>



	<%=render 'layouts/tableinfo/button_render', user: @user%>
	<% end %>
	<% end %>

	</tr>


<% end %>	<% end %>