<ul class="nav nav-tabs" role="tablist"> 
  <li role="presentation" class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'Find Partner', users_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?(groups_path) %>"><%= link_to 'View Partnership', groups_path %></li>
  <%= render 'layouts/course_select' %>
</ul>