<% case @current_user.role %>
<% when 0..3 %>
<tr>
	  <td><%= course.id %></td>
      <td><%= course.course_title %></td>
      <td class='collapsable'><%= course.active_proj %></td>
      <td>
        <%= link_to("Edit", {:action => 'edit', :id => course.id}, :class => 'btn btn-success')%></td>
        <td><%= link_to("Delete", remove_course_path(course.id), :data => { :confirm =>"Are you sure you want to delete this course?"}, :class => 'btn btn-danger')%>
      </td>
    </tr>
<% end %>