<% case @current_user.role %>
<% when 0..3 %>
<tr>
	  <td class='collapsable'><%= course.id %></td>
      <td><%= course.course_title %></td>
      <td class='collapsable' style="width:45%;"><%= course.projects.where(active: true).collect(&:name).uniq.to_sentence %></td><td>
	    <%=  link_to "<span class=\"glyphicons glyphicons-pencil\"></span>&nbsp;&nbsp;Edit".html_safe, {:action => 'edit', id: course.id}, class: "btn btn-success btn-md" %></td><td>
    	 <%=  link_to "<span class=\"glyphicons glyphicons-remove\"></span>&nbsp;&nbsp;Delete".html_safe, remove_course_path(course.id), data: { confirm: "Are you sure you want to delete this course? You will permanently lose all information associated with this course."}, class: "btn btn-danger btn-md" %></td><td>
      </td>
    </tr>
<% end %>