  <%= form_for import_courses_path do %>
  <%= file_field_tag :file_name %>
  <%= submit_tag "Import" %> 
 
<% end %>
      <tr>
        <%= @imports %>
<div class="row">
<table class="table" style="width: 95%!important; display: table;">
</div>
  <% case current_user.role %>
      <% when 0 %>
        <h3>Courses</h3>
       <tr><td><b>Course ID</td><td class="collapsable"><b>Course Title</td><td><b>Enrollment</td></tr></b>
      <% when 1 .. 2 %>
        <h3>View Roster</h3>
      <tr><td><b>Student Name</td><td><b>Partner</td></td></tr></b>
      <% when 3 %>
      <h3>Control Panel</h3>
      <tr><td><b>Student Name</td><td><b>Action</td></td> </tr></b>

  <% end %>
      <div class="column" style="width:100%;">
          <tbody>
              <% @courses.each do |course| %>
              <tr><%= render course %></tr></div>
              <% end %>
          </tbody>
        </table>
      </div>
      </div>