<% if users_path %>
<%case current_user.role%>
<% when 0 %>
<% if requested?(@user) == @user%>
<%= render 'layouts/buttons/undo_button', user: @user %>
<% elsif requester?(@user) == @user%>
<%= render 'layouts/buttons/confirm_button', user: @user %>
<% elsif teammates?(@user, current_user) %>
  <%= render 'layouts/buttons/leavegroup_button', user: @user  %>
<% elsif requester?(@user) == @user%>
<% else %> 
<%= render 'layouts/buttons/request_button', user: @user  %>
<% end %>

<% when 1..2 %>

<%= link_to("Edit", {:action => 'edit', :id => @group.id}, :class => 'btn btn-success', group: @group)%></td><td>
		  <%= link_to("Delete", remove_group_path(@group.id), :data => { :confirm =>"Are you sure you want to delete this project?"}, :class => 'btn btn-danger')%>
<% when 3%>

<%end%>
<% elsif groups_path %>
<%case current_user.role%>
<% when 0 %>
<% if requested?(@user) == @user%>
<%= render 'layouts/buttons/undo_button', user: @user %>
<% elsif requester?(@user) == @user%>
<%= render 'layouts/buttons/confirm_button', user: @user %>
<% elsif teammates?(@user, current_user) %>
  <%= render 'layouts/buttons/leavegroup_button', user: @user  %>
<% elsif requester?(@user) == @user%>
<% else %> 
<%= render 'layouts/buttons/request_button', user: @user  %>
<% end %>

<% when 1..2 %>

<%= link_to("Edit", {:action => 'edit', :id => @group.id}, :class => 'btn btn-success', group: @group)%></td><td>
		  <%= link_to("Delete", remove_group_path(@group.id), :data => { :confirm =>"Are you sure you want to delete this project?"}, :class => 'btn btn-danger')%>
<% when 3%>

<%end%>
<%end%>