<% Group.all.each do |group| %>
	 <% @group = group %>
    <tr>
     <td> <span style="font-size:20px; font-weight:bold;"><%= link_to @group.name, @group %></span></td>

<table class="table" style="width: 95%!important;">
    <% members = members_of(@mygroup) %>
    <% members.each do |user| %>

    <%if GroupRelation.find_by(user_id: user.id, group_id: @mygroup.id).status == 2%>
    <tr>
  	     <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
        <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
        <td class='collapsable'><%= user.email %></td>
      	<td>Confirmed</td>
    <%else%>
    <tr style= "background-color:eee; opacity: 0.6;">
	    <td class='collapsable'><%= link_to (image_tag (user.avatar.url), :style => 'max-width: 45px;'), user %></td> 
      <td><%= link_to "#{user.first_name} #{user.last_name}", user %> </td>
      <td class='collapsable'><%= user.email %></td>
        	<td>Request Pending</td>
    <%end%>	

	</tr>
    	<% end %>
    </table>




      <% end %>
