<!-- selecting course that users will add groups to -->
<!-- if the user is signed in and their enrolled in at least one course on roster -->

	<div style="max-width:500px; float:right; font-size: 12px; line-height: 10px;">
	<% @current_projects = Project.where(course_id: Course.find(current_user.current_course).id, active: true)%>
		<!-- setting current course & project (if there's only one project)-->
	  <%= form_for :user, :url => set_current_course_user_path(current_user.id), :html => { :style => 'display:inline;'} do |f|%>		
			<%= f.label 'Selected Course:', style: 'display:inline'%>
			<%= f.select :current_course, options_from_collection_for_select(current_user.courses, 
				'id', 'course_title', current_user.current_course), {}, 
				{class: 'form-control', style: 'width:70%; display:inline; height:25px;', onchange: 'this.form.submit();' } %>
		<% end %>
		
			<br / ><br/>
	
		<!-- setting current_project (if more than one exist)	 -->
		<% if Project.where(course_id: Course.find(current_user.current_course).id).size < 2 %>
		<% else %>	
		  <%= form_for :user, :url => set_current_project_user_path(current_user.id), :html => { :style => 'display:inline;'} do |f|%>
				<%= f.label 'Selected Project:', style: 'display:inline'%>			
				<%= f.select :current_project, options_from_collection_for_select(@current_projects, 
					'id', 'name', current_user.current_project), {}, 
					{class: "form-control", style: 'width:70%; display:inline; height:25px;', onchange: 'this.form.submit();'} %>
			<% end %>

	  <% end %>
	</div>
	