<%# add navigation links to this file %>
<% if user_signed_in? %>
	<% case current_user.role %>
		<% when 0 %>
			<li role="presentation" class="<%= 'active' if current_page?(users_profile_path) %>"><%= link_to 'Profile', users_profile_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(groups_profile_path) %>"><%= link_to 'My Group', groups_profile_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'Students', users_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(groups_path) %>"><%= link_to 'Groups', groups_path %></li>
		<% when 1 .. 2 %>
			<li role="presentation" class="<%= 'active' if current_page?(roster_path) %>"><%= link_to 'Add a Roster', roster_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'Students', users_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(groups_path) %>"><%= link_to 'Groups', groups_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(projects_path) %>"><%= link_to 'Projects', projects_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(courses_path) %>"><%= link_to 'Courses', courses_path %></li>
		<% when 3 %>
			<li><%= link_to 'Control Panel', root_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(roster_path) %>"><%= link_to 'Add a Roster', roster_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'Students', users_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(groups_path) %>"><%= link_to 'Groups', groups_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(projects_path) %>"><%= link_to 'Projects', projects_path %></li>
			<li role="presentation" class="<%= 'active' if current_page?(courses_path) %>"><%= link_to 'Courses', courses_path %></li>
		<%end%>
<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color:transparent; background-image:none; border:1px solid transparent; text-shadow: 0 0px; box-shadow: 0 0px;">
    <span class="glyphicon glyphicon-cog" style="font-size:23px;"></span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
  	<li role="presentation"><%= link_to "#{current_user.first_name} #{current_user.last_name}", users_profile_path %></li>
    <li role="presentation"><%= link_to 'Edit account', edit_user_registration_path %></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  </ul>
</div>

<% else %>
  <li><%= render 'layouts/signin_link'%>
  	
<% end %>


