<%# add navigation links to this file %>
<% if user_signed_in? %>
	<% case current_user.role %>
		<% when 0 %>
			<li><%= link_to 'Profile', users_profile_path %></li>
			<li><%= link_to 'Find a Partner', users_path %></li>
			<li><%= link_to 'Add a Course', courses_path %></li>
		<% when 1 .. 2 %>
			<li><%= link_to 'View Roster', users_path %></li>
			<li><%= link_to 'Add a Course', users_path %></li>
		<% when 3 %>
			<li><%= link_to 'Control Panel', users_path %></li>
			<li><%= link_to 'Add a Course', users_path %></li>
		<%end%>
		<li><%= link_to 'Help', help_index_path %></li>
			<!-- selecting course that users will add groups to -->
			<li><% if user_signed_in? && !current_user.courses.first.blank? %>
				<%= select_tag(:id, options_for_select(current_user.courses.collect(&:course_title))) %>

			<%end%></li>
		<!-- END selecting course that users will add groups to -->
		
		<div style="float: right; width: 20%; text-align:right; padding-right: 15px">			
			<%= link_to 'Edit account', edit_user_registration_path %><br>
			<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
		</div>
<% else %>
  <li><%= link_to 'Create Account', new_user_registration_path %></li>
	<div style="float: right; width: 20%; text-align:right; padding-right: 15px">
  		<%if @ucinetid.blank?%>
			<%= link_to 'Login to Webauth', request.ip == "127.0.0.1" ? user_session_path : "https://login.uci.edu/" %><br>
		<%else%>
			<%= form_for(resource, :url => user_session_path) do |f| %>
		    <%= devise_error_messages! %>
		    <%= f.hidden_field :campus_id, :value => @campus_id %> 
		    <%= f.hidden_field :ucinetid, :value => @ucinetid %> 
		    <%=link_to_submit 'Sign In to Partner UP'%>
  		<% end %>
  		<% end %>

<% end %>


