<%# adds navigation links to this file %>
<% if user_signed_in? %>
<%# renders appropriate list "li" depending on user "role", 0 is student, 1..2 is professor/ta, 3 is for admin %>
<% case current_user.role %>
<% when 0 %>
	<li role="presentation" class="<%= 'active' if current_page?(users_path) %>">
		<%= link_to users_path do %>
		<span class="glyphicons glyphicons-address-book"></span>&emsp;<%= (Project.find(current_user.current_project).group_size != 2) ? 'Find Members' : 'Find a Partner' %>
		<% end %>
	</li>
	<li role="presentation" class="<%= 'active' if current_page?(groups_path) %>">
		<%= link_to groups_path do %>
		<span class="glyphicons glyphicons-group"></span>&emsp;Find a Group
		<% end %>
	</li>
	<% when 3 %>
		<li><%= link_to 'Control Panel', '/kayslegion' %></li>
	<% end %>
<% case current_user.role %>
<% when 1 .. 3 %>
	<li role="presentation" class="<%= 'active' if current_page?(roster_path) %>">
		<%= link_to '', data: { toggle: 'modal', target: '#roster-upload'} do %>
			<span class="glyphicons glyphicons-upload"></span>&emsp;Add a Roster	
		<% end %>	
		<%= render template: "roster/modals/roster-modal"%>	
	</li>
	<li role="presentation" class="<%= 'active' if current_page?(courses_path) %> dropdown">
		<%= link_to courses_path do %>
		<span class="glyphicons glyphicons-education"></span>&emsp;Courses
		<% end %>	
	</li>

	<li class="dropdown <%= 'active' if current_page?(groups_path) %>">
	  <%= link_to '#', data: {toggle: 'dropdown'}, class: 'dropdown-toggle' do %><span class="glyphicons glyphicons-group"></span>&emsp;Groups <span class="halflings halflings-triangle-bottom" style="font-size:8px;line-height: 2.2;"></span><% end %>
	  <ul class="dropdown-menu">
	    <li><%= link_to "Edit Groups", groups_path %></li>
	    <li class="divider"></li>
	    <li></li>
	    <li></li>
		</ul>
	</li>	
	
		<li role="presentation" class="<%= 'active' if current_page?(users_path) %>">
		<%= link_to users_path do %>
		<span class="glyphicons glyphicons-user"></span>&emsp;Students
		<% end %>
	</li>

	<li role="presentation" class="<%= 'active' if current_page?(evaluations_path) %>">
		<%= link_to evaluations_path do %>
		<span class="glyphicons glyphicons-scale-classic"></span>&emsp;<%= current_user.role == 0 ? 'Evaluate' : 'Evaluations'%>
		<% end %>
	</li>
	<% end %>
	<%# the drop down menu on the right %>
	<div class="dropdown pull-right" style="margin:5px;">
			<li role="presentation">				
				<%= link_to '#', data: { toggle: 'modal', target: '#profile-page-modal'}, style:"color:white" do %>
					<span class="glyphicons glyphicons-user"></span>&emsp;<%= "#{current_user.first_name} #{current_user.last_name}" %>
				<% end %>
			</li>
			<li role="presentation">
				<%= link_to destroy_user_session_path, :method => :delete, style:"color:white" do %>
					<span class="glyphicons glyphicons-log-out"></span>&emsp;Logout
				<% end %>
			</li>
	</div>
<%# NOTIFICATIONS %>
<% case current_user.role %>
<% when 0 %>
<% request_count = 0 %>
<% current_user.group_relations.where(status: 1).uniq.each {|x| request_count+=1} %>
<% @confirmed_groupids = current_user.group_relations.where(status:2).collect(&:group_id) %>
<% @confirmed_groups = [] %>
<% @confirmed_groupids.each {|group| @confirmed_groups.push(Group.find_by_id(group))} %>
<% @confirmed_groups.each do |group| %>
<% group.group_relations.each do |relation| %>
<% if relation.status == 0 %>
<% request_count += 1 %>
<% end %>
<% end %>
<% end %>
<% if request_count !=0 %>
<div class="dropdown">
	<a href="/">
		<% button_tag 'Notifications', class: "btn btn-danger" do %><span class="badge"><%= request_count %></span><% end %> Notifications</button>
	</a></div>
	<% end %>
	<% when 1..2 %>
	<% y = 0 %>
	<% current_user.courses.each { |x| y += 1 if x.projects.empty? } %>
	<% if y != 0 %>
	<div class="dropdown pull-right">
		<a href="/">
			<button class="btn btn-danger" type="button"><span class="badge"><%=y%></span> Notifications</button>
		</a></div>
		<% end %>
		<% end %>
		<% else %>
		<%# if the user is NOT signed in, show signin link %>
		<li style="height: 50px;"><%= render 'visitors/signin_link'%></li>
		<% end %>
		

<!-- Profile Page Modal -->
<div class="modal fade" id="profile-page-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicons glyphicons-nameplate-alt"></span> My Profile</h4>
      </div>
      <div class="modal-body">
				<%= render 'users/profile' %>
			
      </div>
      <div class="modal-footer">
        <%= link_to edit_user_registration_path, class: "btn btn-large btn-success" do %>
					<span class="glyphicons glyphicons-pencil"></span> Edit Profile
				<% end %>
      </div>
    </div>
  </div>
</div>