<li><%= link_to 'Home', root_path %></li>
      <%# add navigation links to this file %>
<% if user_signed_in? %>
	<% case current_user.role %>
	<% when "user"%>
		<li><%= link_to 'Profile', users_profile_path %></li>
		<li><%= link_to 'Find a Partner', users_path %></li>
	<% when "vip"%>
		<li><%= link_to 'View Roster', users_path %></li>
	<% when "admin"%>
	<li><%= link_to 'Control Panel', users_path %></li>
	<%end%>
	<li><%= link_to 'Help', help_index_path %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Create Account', new_user_registration_path %></li>
<% end %>